In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

sns.set(style="darkgrid")

np.random.seed(0)
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [3]:
addrTx = pd.read_csv("../dataset/Elliptic++ Dataset/AddrTx_edgelist.csv")
txAddr = pd.read_csv("../dataset/Elliptic++ Dataset/TxAddr_edgelist.csv")
tx_features = pd.read_csv("../dataset/Elliptic++ Dataset/txs_features.csv")

In [21]:
tx_features_small = tx_features[[
    "txId",
    "in_BTC_total",
    "out_BTC_total",
    "Time step",
]]

In [22]:
addr_addr_tx = addrTx \
    .merge(
        txAddr,
        how="left",
        on="txId"
    ) \
    .merge(
        tx_features_small,
        how="left",
        on="txId"
    )

addr_addr_tx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2868964 entries, 0 to 2868963
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   input_address   object
 1   txId            int64
 2   output_address  object
 3   in_BTC_total    float64
 4   out_BTC_total   float64
 5   Time step       int64
dtypes: float64(2), int64(2), object(2)
memory usage: 131.3+ MB

In [35]:
addr_addr_aggregated = addr_addr_tx \
    .groupby(["input_address", "output_address"]) \
    .agg({
        "in_BTC_total": "sum",
        "out_BTC_total": "sum",
        "Time step": "nunique",
        "txId": "nunique",
    }) \
    .reset_index() \
    .rename(columns={"Time step": "active_ts_cnt", "txId": "tx_cnt"})

In [36]:
addr_addr_aggregated.head()

,input_address,output_address,in_BTC_total,out_BTC_total,active_ts_cnt,tx_cnt
0,111218KKkh1JJFRHbwM16AwCiVCc4m7he1,1A2vTkKSsmVLN2EPEJT3KZR4q1Rvv6c6Xs,0.056681,0.056435,1,1
1,111218KKkh1JJFRHbwM16AwCiVCc4m7he1,1KWbPoFkzadegdff9rCK1wBFu3mD8M17Wp,0.056681,0.056435,1,1
2,1117wASFaYgJJP6MiY8cPD5DMdQda8gDZ,1K7o3aMfiddvUgMGagdNE5GkiykPPyGj32,1.214191,1.214091,1,1
3,1117wASFaYgJJP6MiY8cPD5DMdQda8gDZ,1Po4J4SNyJuGnMGYJfGTXLEvGgAZKiddr7,1.214191,1.214091,1,1
4,111HRAJxnoxqyKRVnjqBmwqneUrHc1chi,12RoZAgmZMFHMMrvaqrYZrLMPpAFEFGyWU,3.016258,3.013936,1,1

In [37]:
addr_addr_aggregated.to_csv("../dataset/custom/AddrAddr_EdgeFeatures.csv", index=False)

In [38]:
addr_addr_aggregated[
    addr_addr_aggregated["input_address"] == "121zS6dTrPm8CZpXPBeEyMdLkqZ3CNbxGQ"
]

,input_address,output_address,in_BTC_total,out_BTC_total,active_ts_cnt,tx_cnt
9443,121zS6dTrPm8CZpXPBeEyMdLkqZ3CNbxGQ,121zS6dTrPm8CZpXPBeEyMdLkqZ3CNbxGQ,0.854040,0.853540,1,5
9444,121zS6dTrPm8CZpXPBeEyMdLkqZ3CNbxGQ,131ajhrCSx8dTkq3VeesRb4K36Mdr9t5mV,0.029393,0.029293,1,1
9445,121zS6dTrPm8CZpXPBeEyMdLkqZ3CNbxGQ,1GUxZ7xmBeQSrPcCofFwRzEK3ewEJfnAxW,0.288767,0.288667,1,1
9446,121zS6dTrPm8CZpXPBeEyMdLkqZ3CNbxGQ,1LtAkeGBh3JnRAZd1bj5ZwdoSkVXqDPezM,0.289014,0.288914,1,1
9447,121zS6dTrPm8CZpXPBeEyMdLkqZ3CNbxGQ,1P4AFNoeGyUjYykCegr9J1qEeSihu6zmS8,0.101389,0.101289,1,1
9448,121zS6dTrPm8CZpXPBeEyMdLkqZ3CNbxGQ,3QJFUK2pK5LTJoqsuctQ5yJf4at29u1WvV,0.145478,0.145378,1,1