# Кластеризация на пользователей

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

sns.set(style="darkgrid")

np.random.seed(0)

                                    addrId       txId  Time step
0       14YRXHHof4BY1TVxN5FqYPcEdpmXiYT78a  230325127          1
1       13Lhad3SAmu2vqYg2dxbNcxH7LE77kJu2w  230325139          1
2       1MAQQZn7EHP6J3erXByCciFiVcgS8ZhWqz   86875675          1
3       16zs5SVSyADh5WrLNbZbpRLsBsN5uEzgeK  230325147          1
4       1QJpwtUorBKPGUJkSyrRcBKTAHq4CXrdYh  230325154          1
...                                    ...        ...        ...
477112   1HdnGvuc21Y4QfBEHUc3NFRJhGywdSFUb  157659046         49
477113  3MfN5to5K5be2RupWE8rjJHQ6V9L8ypWeh  157659306         49
477114  3DzbpEogZ1mn9FgCHcmzYPLDbV9GuxYHpi  157668825         49
477115  34yD1sQg6C16aANCtibYXRj5NsX6tt4v5R  125788182         49
477116  1JERHCgwHG2Z7T3KjNpEwj3fJNX8vSfCX2  157670868         49

[477117 rows x 3 columns]

((323503, 3), 263869, 400212)

((146321, 3), 136343, 400212)

In [15]:
146321/323503

0.4523018333678513

Сделаем маппинг tx <-> список входящих кошельков

In [4]:
from collections import defaultdict

addr_tx_df = pd.read_csv("../dataset/Elliptic++ Dataset/AddrTx_edgelist.csv")

tx_inputs = defaultdict(lambda : [])
addr_list = set()
for index, row in addr_tx_df.iterrows():
    tx_inputs[row["txId"]].append(row["input_address"])
    addr_list.add(row["input_address"])
tx_addr_df = pd.read_csv("../dataset/Elliptic++ Dataset/TxAddr_edgelist.csv")
for index, row in tx_addr_df.iterrows():
    addr_list.add(row["output_address"])

addr_list = list(addr_list)

Сделаем граф зависимостей между адресами, запустим DFS и разобьем на обычные КС

In [5]:
addr_to_neighbors = defaultdict(lambda : [])
for tx, addrs in tx_inputs.items():
    if len(addrs) <= 1:
        continue
    for i in range(1, len(addrs)):
        addr_to_neighbors[addrs[i - 1]].append(addrs[i])
        addr_to_neighbors[addrs[i]].append(addrs[i - 1])

In [6]:
from copy import deepcopy

used = defaultdict(lambda : False)
addr_to_component = defaultdict(lambda : 0)

def dfs(node, comp_id):
    used[node] = True
    addr_to_component[node] = comp_id

    nodes_to_visit = deepcopy(addr_to_neighbors[node])

    while len(nodes_to_visit):
        nei = nodes_to_visit.pop()
        used[nei] = True
        addr_to_component[nei] = comp_id

        for nei1 in addr_to_neighbors[nei]:
            if used[nei1] or nei1 in nodes_to_visit:
                continue
            nodes_to_visit.append(nei1)

current_comp = 1
for addr in addr_list:
    if not used[addr]:
        dfs(addr, current_comp)
        current_comp += 1

In [7]:
list(addr_to_component.items())[:1000]

[('3ERqtBuTkehxuKaMjRghMgkZbL6QTGsAgk', 1),
 ('1MvrNMPgAqc9M5uRedjGTHaKQ4yWFSSBb2', 2),
 ('1Nyga8W7K8AWtCECGYnJgTpEiikd8gxtZU', 3),
 ('127YEf8HFGb26bk7Dk8HAX9AywevCuYNjV', 4),
 ('15c8pksxYhRwKYQDUkYveTyGNvpJ6MNVAX', 4),
 ('16W7H1u5oajJVCPoKCm1boQHSrv6yANVZr', 4),
 ('1GhW8xuMt5nZ2LPptYkJBRpxLBvq6YLwUH', 4),
 ('14PJ3ZdE5GigS2jxn3FM3BiTBxrbJZoRko', 4),
 ('1JyqaPFquMib3te2iFmAxxSoXUpKr5cjAn', 4),
 ('1Eowd1eWu9mca2e4YFmjQQqA3HHpsn3geG', 4),
 ('1GLK8HoHmfCJe9cWEw8JvxFytfcMZA2zuL', 4),
 ('1CnxggyLkQjsxeKe2sKrPXv516acznY3Eh', 4),
 ('114Vpp1rW5VVqjDaHCokA3WBFGQZisQHLY', 4),
 ('18LSE19xt8mNbk3B5RXFQaYmE9Cbo8f4Xd', 4),
 ('168tQmk875m6S5XUdf1sgD1GU9L2SstGqM', 4),
 ('1LJ1rfY8E3aUVi4m7QpFN6kehF2cv77bA8', 4),
 ('14tbpvCUTXV9D44aahJU9fanmLP3roiDNN', 4),
 ('19dRrQMHpsgTni4gUAdTs3d8mTqoJUsWF3', 4),
 ('1AYbvgKBcJtj5FpHegVoH97qWbcB1xGEb5', 4),
 ('1G3HhfcymCrm8wFMSmR1wrBZZsjwYqHaWm', 4),
 ('1Mm7HCGYV1m4uvS2QycZkMEcx87iWZFxKW', 4),
 ('1K7PJQwSB4JQbxf7FL778f99r6aRzm7M4n', 4),
 ('19LM8Qvu5TUdJdyLvAGhBSzDiuSrkDA2ZQ', 4),
 ('1J7mFSwfKGXYh2rpPNXvSexDdUCU25YkH3', 4),
 ('13FtU4cDiBdj7h6T3rDZjLKExbEEg5WxkH', 4),
 ('1AxWb7Pac4ptxqNm23T5WrddRUv9knaVMs', 4),
 ('1LsvUGstKjYFugyejQA3AhSgjVCF8qVBkd', 4),
 ('1HEsAxpxLiebUkZuDWmwePd8Pv5AZEjt5J', 4),
 ('1BFZN3yJMFPAc6VEPvJSFee8b3GBUwDAvB', 4),
 ('189ZLkix7Rez7JqqwCHuQ8mzrPfhAqZyGG', 4),
 ('17GdKN3fppLGikEYsPRCfkh892DXyZSt8k', 4),
 ('1CcmtwWNe2xa2p1fdjzRzcikM1BvN55qTd', 4),
 ('1FH1yRycc5zH7WWndkYw9oiUKgsUu11JzP', 4),
 ('18zA3Nd5TioozY6waf74VAPZ9iPhUZgJqt', 4),
 ('1K9Q95fhHapTpYkshSJ9ra6Z45n1MPM5TK', 4),
 ('1MLHU1aFdjWXFcFc6HoD2TU8Xni8zA2PXX', 4),
 ('14wuG2nDdpwwPtyut3QfYyJpk7PMDijSaw', 4),
 ('1MZzRZpLN4mH3fSe1uWEF6Nx2X7nvD2YB5', 4),
 ('19xrR25h86NV3YsqjqnFXigQv69cFkc6ab', 4),
 ('1JotifPNwCUMX4ygJ94LcqpiJtUM4oTyTh', 4),
 ('1HRvMMX8tTKRfXzmmwYCWuEf3bqpUvp3mK', 4),
 ('163S6cbhhvYkjovPmUbpCj1wr8Ehx6wxqP', 4),
 ('1PVSWEc9CoL59ZzexxyAm9hGjBdZqtMkLR', 4),
 ('184yYSktmsQFheWjeq9LgEsZJHXJ8rR4sX', 4),
 ('1HbQo7ckz53Jyv18UFrti7eL59RQYfGsNk', 4),
 ('1FRQG6E2rTYGpMXEeCyWzQ1PWroo5Xhj4U', 4),
 ('183qm2TxFHnf1iQPUKRFqG4ivHKxRUdv9D', 4),
 ('14UNcKz9vGdz5SSvwYee4KC5N16wEBCqQh', 4),
 ('16ZbfHHDA9n8PjheE5iLrVmf89tsfcAHJo', 4),
 ('1C2rrwanG4U9q2cSPBAn3QdotK23cAhk8Z', 4),
 ('19ZK3Vp53vwfiwKzXV1dBn39SKzSkEWHYN', 4),
 ('1AqDZqZYHodC61BSgd2off44jRVfcCqm7g', 4),
 ('1MNaL5pmF1owVNAnJtz3Xg4gsAhkBYdbbg', 4),
 ('1Ay94SeYxtuoCSDU7n4icpQjZBvDJseA8t', 4),
 ('1MKPafwEW3jcp1e3DYBaeYECF7Mv2wZEog', 4),
 ('1Hv6mFhZgjYAErSYkxBRNGiwWk7P7584fB', 4),
 ('1UiAiv9d8DiurWZFivppwcvjk2Z6UiN3t', 4),
 ('1Fx6wGGeaEgup9HCXJL8JXHuVqH8wFVWzc', 4),
 ('1JzozTHQgjttdiGKX71ZWcPjrw43NmzpKk', 4),
 ('1GekDjsyH1CXB6pUvmXYGZyiNkgrpepZkK', 4),
 ('1ASMUg9t5Z2kqmUFKhGBuENsGVAUqYgCHL', 4),
 ('1Kk1TEKMTK1cJy6xqA3ySBckHQxgkkUf7o', 4),
 ('1u9MS9ykESWKz4bxDoMg3RyUopQijiuBq', 4),
 ('1KJVYgzi39MeQy2SN8SZ3MVHDjwAf8xxed', 4),
 ('14ZeCWRweT6sboWFf3soLverDGnUAHpYNk', 4),
 ('18Si9bJfn1cy1iSDqdXhK8DYxBPV1JeRLk', 4),
 ('1r2Ge1aPEBDEPJX1qXHVk349RruQwuS11', 4),
 ('1JpVLXigzhqQqjeVYbKXpfJ7cuS92jGJog', 4),
 ('13HVa8wjg46ucf2DqEf4hCzcKyQKZujkgN', 4),
 ('1H2NvUvVRrCgMvh2Um6nQTcqHCDqw5htCf', 4),
 ('1JjCGQ5JDgVUDAEQVKxv6iCGnj2tGxmoj5', 4),
 ('1E9cP4EBfew8d4eX95HMC2oxT8nJgDH2vW', 4),
 ('1HUe1wTDQDoGMKGztxoET5999EXZusxhdy', 4),
 ('1CpTHpCMBzFd3PuLy3q6LN7bpmVtukp3Mw', 4),
 ('1PvKwjDAmXMaXZd62R5GGjvSiuAJ7CigPn', 4),
 ('12bbxHnzzt6tN6cF7gwP5mdGrPqUoRg5kS', 4),
 ('1Jcprm7Yjhbjns7zaFiKaG2ZY7v8BC7zu', 4),
 ('13yf2x6k5gNkEMwP3LmRuB95PLgZM8VtEe', 4),
 ('1G8KW2Rx9y1jVwDSemxW9JAWbJBM4nHNcd', 4),
 ('1KGDR5CTUZpgZToKxg2W7GiWMpuYMgBt7t', 4),
 ('1M47pG9X2Lmg3R8sstZWieXgJkZTYNX87C', 4),
 ('1KiD9wncNfX8A69N1T2oCxxk89jzPevGvJ', 4),
 ('16Q1TrbPLw9u7sHyoSwbrkrWgCRorS5HCP', 4),
 ('1ACqmmZ7k4Z9MYT6o2KHHErhYaTxLWTUAf', 4),
 ('1Ms6KJxWxJVEUex8mCec5XawqK5kT1BLBm', 4),
 ('183zFUHi3HC29jMwp5g15JRNw76BYpTJsx', 4),
 ('1LuCwQjFixDkSSYQC75QRtjnnsJvzMc2wg', 4),
 ('1DShXrEuzkxzH49GqwF7GjxseSTgujXMiG', 4),
 ('16PQRz3fDNGHnTkmbaL6cEAu5Lu5Vp9qvH', 4),
 ('1AmcXmC6Mreo8Zsxj69ChNcCru4Xn5azHN', 4),
 ('1HWDfUEnocuCUf93wqHFuUYpFT6rXSs1TA', 4),
 ('1Pskmkz4N3PYfhWkD2YHvgK311XLvnYMK2', 4),
 ('15gnLk3RCQAbLkQVCnwo3MeMYwn8Hvb9Be', 4),
 ('1EHLHjdTMcxTzJx8Qe6krj8z78YZ9SskJQ', 4),
 ('12kbbJpsbAzub6Bd49xsXjuSKLwH8yLKUi', 4),
 ('1MS7tmsLVCncgJUhzjL1tAUVwm5CLz6g15', 4),
 ('1Fd9t5fov5uea6knt3SqcwgJEAKYKXTbW3', 4),
 ('1JfaJ2kS3nXG6DFmxaExbVdX7U8fudRot', 4),
 ('1LMvynmU1tFPeeXwSQa5wmKyYokqdHs7KP', 4),
 ('1PbDRuGsvcogBMa9EED88SnfqigYRxDsky', 4),
 ('1qQSJoYLY25rzZtfC6xchpcUAFYAbxFwj', 4),
 ('1BYGhRaZG7J8aWRUdfm4p6ScCgY2DNg92A', 4),
 ('16atiWeXqdKKoxs3m88kYf9p1XFNc9uq6d', 4),
 ('1CafbCGRuYqtn16ZFRoqx1pEe4kTGy2Uy6', 4),
 ('1HrPreii64gA9zswvzAs2QHbj7pYraanQA', 4),
 ('1KwK6SD64zNPh8SQnbeDooE4oDjQzFyTZ7', 4),
 ('19eZ3swmq9Hz47WUpWxK693gHipcypmJ9A', 4),
 ('1ATbPQEhJwDVEEDycPnA83hrvjwZhT1r98', 4),
 ('1FfAL291kKGhTzJB6XH7A6hBneEDKYbU3M', 4),
 ('1BAGRm3dgZb6f1bHVbUXTZZhKWMZtpbLZs', 4),
 ('1JTg5GJRHkchwPL88FFBHNZfw7fwHQTCKs', 4),
 ('1PV7BDBayKmG9m8RqsH7Y55xtr76Tiygme', 4),
 ('1p5dJQxQ4aCjemsGfU7zKR9tsdNin2kmr', 4),
 ('1NhgyPw3ZYFjSfeydkUhWpu5H58CJ8Cbu1', 4),
 ('114AtcBq8KwHg5tQMqfoycNBLMLJ1B4j8y', 4),
 ('1EN6VCx75PrmomYhLHeWyf7NnDYe87XNtk', 4),
 ('1MEVyncd75e7DJz97LhTiN5Loibbrc9Zkc', 4),
 ('1HjdSsK9G1FVXuxhJUaNiZkYvfdWEWfdV7', 4),
 ('1Dajw1762nsrdrp5ycetVCeCrECs7uALXo', 4),
 ('1KAaeknhkRQtDvJU88VKyyVSHHh8fGunBk', 4),
 ('1KWPp1fHXNcbPtXGxbhZFgHZZER2Z9tEFK', 4),
 ('1LEYKJkieACogDjXRJgJKbxcj2yUWQJ4ue', 4),
 ('1PAjDkCCyNgydJxX3GgRV3iRKC3Kd5SGWE', 4),
 ('1KjJMBpqcbUDBeak4xdFqPGDJEZJrgZZD6', 4),
 ('16pKSgvvsQLhRbVh1TPokv3hqnKmnkdot9', 4),
 ('1LE93qjyhTA3tkhZZeDNCWtgHGiBHKH18x', 4),
 ('19hFHAd7WNHJpUWVPMQt6eSoZ835E9yeDt', 4),
 ('1JEiR7wcQASjsPNTtSAQaeWR8ZJLpGP3Yh', 4),
 ('12rPuf5GJJpMhdERu5BiU6LP3yjXUfhwaK', 4),
 ('1MmE4gLk38W7HXFfA1jZd44JBVi9BTFjdi', 4),
 ('1C1f9pQGj8HnCAjYmZ5bWUP4MPxBESiyth', 4),
 ('1L5Vrk5WpSTGPLQZJMrZAXuSKPvU3ie75K', 4),
 ('1FLj2pCRar6MUr4KyBzP3YAwd8Ejh79ntv', 4),
 ('1DtSUJdez471qfix4iLeTrHmsJ1g1QpQdb', 4),
 ('1DKXCzq47pRBmV2xHEoDqewnGD5Cgg1DKx', 4),
 ('1AxLaHYZwFW3figERWzERjxX1pBF719Kgz', 4),
 ('1jqR82xMDbfBSbVZLcWfwXCVDG8s56XtG', 4),
 ('16aA6gvVa5ffcPLw4KUAySAtckJ4PHTtZt', 4),
 ('12pznj8Z7VBxcxSfrmMF4W9a5XSVR59dV7', 4),
 ('1dc2yztJcP5jAjKoWaAiGWGyrK8mxMdbS', 4),
 ('1AwWwE5WwEhpbJUDTrAdKbe8Mj243JutSD', 4),
 ('1Fnb74m6KE1LunEGvzTwe235YfroLApomj', 4),
 ('1PRfFz6S9hf2Pjki2Cx4B7gBiSXPKU4yMu', 4),
 ('1DQAMnbK1WWvH3pFvuvHKSaQWoC1atG7J2', 4),
 ('1F6ocUsCEMTV1sFiy6Hj9PT5TA8xNraDT9', 4),
 ('1QB2AvuN1JYz6EaJZEAU61n29vDNHcBtU4', 4),
 ('1CYPWBTWQfnEm19CG83EHZQgnmBzP4kd3G', 4),
 ('1Emgt6DB2i8hQ7m6uq952n3REQasJyM7kG', 4),
 ('1Hnv2yrrLJQcUkTbhgMYXMqtn2yBCXRK5i', 4),
 ('1Gh5EZCK9YgUeS9qivc4xh5A2mkSH8qiKd', 4),
 ('1GGMS23rBK31qTAYy66MKZ2vMwws2ivc72', 4),
 ('174edcZoxp7ryvQpn24JM6NQLpXjDBxKrY', 4),
 ('1CmX9kA4epD3E1Ay477tsqTpcPtNN8sJnj', 4),
 ('19Wag74r6WAffa7vJktTTM7Y3RSRwpKWHr', 4),
 ('1H9YUmf3PR4cV2ionu7PmGioHAQPGmUabo', 4),
 ('1DMBiFRVvs7ae55Txj8kJfRf5eN2Gz8Rv5', 4),
 ('18ZVQCF6MxBzr7JBu8F5zvSP3w4A7CSV6h', 4),
 ('173AMU2pgy6xrKogttft5ZZ6jnbs4Vd1sL', 4),
 ('17p8vuaoQanu9TBTXpWzvQ15JS3WLsDR9Z', 4),
 ('1GNbrWZcTXEnzERAC1jnJBo5hzZ2oKPHdC', 4),
 ('1DaTDDbjJV5nBJRDojUb2bYGYAtzYNzbqn', 4),
 ('1GHtASU2RJm6krFFXDMkMY4MPgXA9iTG7n', 4),
 ('17nahffeRfbFXbvuGRxYZ8NVTzuYNWHNy8', 4),
 ('15PY85m5TcTSNM5voGVBio5khDLcwXRwqM', 4),
 ('1jZZHXLHpKyundv9E8ws1vDzvfA222bXy', 4),
 ('1M5zSy8LBwxpEbLBEmNXt5XWd2JAUH6ajm', 4),
 ('1DvfyeJX7zv96gZbx6vmbiYRpTQvp6bhEN', 4),
 ('1NLKDU95cGQtfvWDkf3Kfr6yf3NjCHDrZi', 4),
 ('185sWh6AZeeRaQj7dFnNzMcgjjwbznYaEs', 4),
 ('12FZVfqvf8WrwsWRQKoL4ZMJoVte1P4s1m', 4),
 ('1BwwKHGWqf8rC5GJXEFyad1oAA7hVKWQ7q', 4),
 ('1NME2mWMvQDC7TptJuN2e5h3h4mkKEC1WL', 4),
 ('18FRsDzVpWwsQmFiP2Kihd1q2sS7grFLvr', 4),
 ('1uZ4DpmWniQ7JRNzYPNLJM5gYCkwmnkVR', 4),
 ('1H9BtesWGmFmyDmo8FN4t6gWsd1PKZWaEN', 4),
 ('1Gk44qYfF13PB9P5pbLsNSCeHYdoCSoLNr', 4),
 ('1Et3sKi1HqYwHHdtpyLSrbmhZBVcg1guj', 4),
 ('12APNvMStGyWukxTY7GrJY17aBhEfigxTZ', 4),
 ('1LrH6EwQG2YwvuyG36XYAEsXmKn6MHXxxw', 4),
 ('1LvZD5B5MMhRHQPN2ZjVLMkD85yCmgGXoL', 4),
 ('18oaEeCyPJ7zY6EPbQRRyPGbYa5U6Zs3ra', 4),
 ('187cR75aTUu3nsEyAFGd1sgpE8AQjfWpB6', 4),
 ('1FVD91yNSLsM3vsbwcEJ3j1gj6XuDNgGiE', 4),
 ('1qhAW9dS6WuGNcooiQMRaAUs3ggERNoWv', 4),
 ('1PoGeQAfHFRugSSJnDDqC8Uvnr47XK2bzj', 4),
 ('1MdhUE2AgKtu5LQgX4zXnNSaQ5p7hDpdXr', 4),
 ('1JRTc6byiM6GN4xW4fzzL6NLijgE44U8i4', 4),
 ('18b81jCQjhZMCA1o4q1NWK66q5iNrxUCFG', 4),
 ('1PPfe5eH2vkrBFK9DW39EgrBhgS88jRt9V', 4),
 ('1PYnFqnwYFEZBzrznizrhsUWdr7dSELEM5', 4),
 ('13vzJccpDHZxHJFD3Hm9wo48W919St6Bn1', 4),
 ('1HieoaPjJEGtCK8EVsyiQHiPuW1DeYxqF8', 4),
 ('15pmusDvME1eTtdwMjta6K66fYJyJ6Bnvd', 4),
 ('1QAivFBbT9cFVriPuUREUc9xkhmkokjFKt', 4),
 ('1B9e3z5zYrWsbJf9dNs6nVbxBgQHQmTqJx', 4),
 ('16Ak9Jyw788acVtz2Ek8xeR8TRLh4Pa8bx', 4),
 ('1CgX2NmBifZSKCCn8wr2uB5xhF6JLqxrop', 4),
 ('1G51LC8q94XTGbofdYMkcLBu7DTh1pJBo4', 4),
 ('1J1P51Cxps2rtAGg4USrRFBvQzsLjtiACq', 4),
 ('15oL6GWedqyEi8ECnVkm8UZLLgJ2xudpJX', 4),
 ('1PFFz1irdcwm8cmNDkTK9jhMCaFkcJex46', 4),
 ('1BYrj2Yok2223eSs5GT2GKwAogKnitqYvn', 4),
 ('1Gxn3tHUT13PshBCEcKrDf7xeU3v1E97Hr', 4),
 ('1VFAW7KBxMkacpTxMiZCjEN3qHNWCZShk', 4),
 ('175nV7DwJjubECR8F3Wkk6ba7epPM2mbmn', 4),
 ('1DNCxzFqucLvQM6AfygFofg2VXto9rDNW9', 4),
 ('1fmtKxyGqgq6QjYjSvhheuoxNDUiW4Ecb', 4),
 ('1Lookv3pdrfJuchXtcoyAAAJrJ1TThHbkw', 4),
 ('1CEQsSyPBoydrkQXZ7doykXUGnFuVaEQgV', 4),
 ('1FzWTiHow8JyhbuM1m1gHRQrfBcSWvkrJ1', 4),
 ('1JbCwJibuXsUfQnMSDNLqKjtAHcZoFEBWy', 4),
 ('1P8Vvu77MjgQmK6FiyajyYU9LVEhtqAj3S', 4),
 ('19trFacLkLacGKT8DismFgfmzzq14nvHYH', 4),
 ('18pdVNhTpFdUCrTqcHTrDjEsUM1X4JmDkd', 4),
 ('16ueX2QQyWuV1KKSHDqQUg4LnimeZEMZwK', 4),
 ('18wEjUp7XmprZ6HfuLEFh5Mi66RbVHnw6L', 4),
 ('1G2WHx7c7sJ266nF4enxUYNctqL7fDwFFh', 4),
 ('1CKhmQixszSR3ibDCrExUYhe9tNfuRFEye', 4),
 ('1PtgQTkKPKenckrkazheyn92edWYxEjM8h', 4),
 ('14n5nx1EzATmLdyNVebLQTkiz4pLkgJkbz', 4),
 ('1CtXvL3Qxwi2jvjVhDodU9uaY5PfqTkUQu', 4),
 ('12vqrTj3b5Z9mQ2PvPmnfCbviFtKKGou6s', 4),
 ('1QJdLRfgcE3M3ZnFW1xEVwvDfnHPmna38A', 4),
 ('13GV6SjdArRU5cafDvK7u71iS43MGFHoie', 4),
 ('16woeKsJRsYTRUiUDUCdBg1Whw47SDanoC', 4),
 ('14a8sicaqyRhZF2xXViemmpoDnyAvW8T9g', 4),
 ('1At1o2XhjWMYuQy2UyWRA7p7KsWpLLmcmF', 4),
 ('156mg3aBtiQjh3NzLcAndjMDX4mWF12KbU', 4),
 ('1JCic8QEWYf5Qo21bdVHbQ4NMVztPoRkJL', 4),
 ('1J2TD28tppd5sKnnJr1eY6DoyyJZitC3kN', 4),
 ('1DJ6ssZ7kn4hLoTT7d1NS2zpfHVH9L6G7v', 4),
 ('134Qxx1xYdBzAFZRhySQsgYhmJgzEqAfwd', 4),
 ('1D6KaVFpHt8438t6g9uoV7JYqqpzq2YcS9', 4),
 ('17AgavGbXJJoLsoM66MGYK1CzNgAbh7qLS', 4),
 ('1D18ZY7iWnJpsJukNWNoEZrh4ohC1J8or5', 4),
 ('1FPsS2Afw4SEsMxFq3Ttg11E9LXvLmCHDj', 4),
 ('13gQYxMH5h3An1NxjYBAdnjpDkwR5T5GSa', 4),
 ('13DiSMUQmRQM5Qh9cBokHrab9mE1iAEdsJ', 4),
 ('1542xNScDKash6YKNDf5Mcmy9bdbcVR41T', 4),
 ('1AY4kb78hyHkmiPcEXeEH2uSnPjET2KKSh', 4),
 ('17f258VXR4F1Ayst6zeF2ypbMgLwNA5pRw', 4),
 ('18q4yrfW9MpnvDT7zJvsj7KHHeVv67yDJb', 4),
 ('1EALnKx2ehSrBEqfRnexGGTE6kpoAWeF4v', 4),
 ('1QGKZn6gSTpzrJ6Dgzz5jL2r6SJymWjy3V', 4),
 ('1BnQXe7R9m5pdPC1ASaCdK7tTybSyCEpPW', 4),
 ('1CtJntn758UgBjbZTo33P1oMKrtD1CtTUa', 4),
 ('19LkkPFjAwEfGyfZ16Hip1EJGnfPk6YbPs', 4),
 ('17Nb6tTzeHQUKkctuvSpi65V6Q85w23pHQ', 4),
 ('16uG9HWj3hqyyg1cXLN8oujgtFws6QxZyi', 4),
 ('1NLo8rX7szge34zYD18gbV8cKZjV8LUquK', 4),
 ('14iGcmf31YSbKL2meA1UUbFpMjBoax9frB', 4),
 ('1KgbkqdFBFBkT7HAbmdVg6EcBdjk2uFwNy', 4),
 ('1837ms351fYfMNLkyt4DmH91XRd3hDHWfR', 4),
 ('1ChW9v4Ko8L7Rhjshy4mo7XiF3W7KqRLu4', 4),
 ('18kC7jE7EdPZ1VARWPjpDzDc3ZNNWgT6Pd', 4),
 ('13t2YuXLVZA62Bw22Fsm8LAH7gtrioQNeX', 4),
 ('1Mocnau8VU8sL3cDYWc4JniZrmrUPCjN3x', 4),
 ('1C1tRFLGB4pQ1wjKihWoNbNAY4itGBs5Uu', 4),
 ('12w38KZwuRiinisya8GL8yMDjJan31FodW', 4),
 ('1Crn1U6vEiyALYMZPmCmk1nZpDuaDAqHTg', 4),
 ('1C8XgoFawg67rocsgFod7yi5Fyo1zyP39P', 4),
 ('13ZgqXUYBytj8Wwwc8kT3qL1TrpKcWwUEL', 4),
 ('1LxgdqduBKfkc5nPWSjNwwgxLYsCSMskbv', 4),
 ('15DULMgLtstSMuZE4dn3j7RuzKsrYfh3ET', 4),
 ('1MHcWGedGHxB4Mmhw8W3tcLZQiGwFz4hra', 4),
 ('154N69QJGriHDe7mdCqexBU7m1j9TyhWTw', 4),
 ('17SFmFadJEfk1Gqufora9euYcqT1sVqd7Y', 4),
 ('1P56sWWJEiDcydGydDWmwLPtwETepqWjm7', 4),
 ('1F2kZgNtGmFyppvyRYf6Lq9EVUQAruoZGE', 4),
 ('1MgaiypZkLQsFgMDpU5joo99mRYN5Y3VYq', 4),
 ('12Ro6ktD2bfhC9jdAd3QENykqCFvL55kHT', 4),
 ('1MzmeaDKo5rfRhGv5tcx1ynvRKPzhJ9gZs', 4),
 ('167b8ruKeZfcSKkw8AXGS1x5t62CnXbnPS', 4),
 ('1H4wuVhfRdPxi59H6xobkae13W7DWPrXSB', 4),
 ('1JJ5QBWB2ZWVmKGk5y9WKNj6BUYw6e6CzB', 4),
 ('14XKFoTN9ZGktHL7m9bc2Vhzvjsh1r4wpt', 4),
 ('17J9YYFdTzfDJzoDais7aujJXyuD37Atfo', 4),
 ('1JQZKoAhT264dfKHMw9zeFjb15rgtK46Wu', 4),
 ('1jyfZGZrEXKSkFgHwXgvCFCvRhjJ2pBJt', 4),
 ('12KCXDjWSZj7JWVqkbu5YeTyfNPQjjp2uA', 4),
 ('1QxbrbNQGzGzrvNgCwD7FncbK8oa6CRD1', 4),
 ('15GpCNakTmHCrFsDQQxsY1xgGfUCsN2MpB', 4),
 ('1Ak8bxHYsYLNFZFceYZY3g5BGULkKHAC3A', 4),
 ('18j7NuKyBsmxFgfwKJ8hq43jSHfmpsSd1r', 4),
 ('1D2AvavK4vFbZQk6LXT3y3Hgw9VBRaBoxj', 4),
 ('1EMLJfVxTCaxLiFi898vht3rGEpwcyWGgu', 4),
 ('1AMax9MmZGUtexyvPkcEimh3eCofb8iWQ1', 4),
 ('1Jmv4kSSgwbQYZj6DJwvKKe19qhzZn4Wak', 4),
 ('1K8JaUCzY6QSSTHAJrK1J49ayAFeSurSoh', 4),
 ('15Q1cK1tqceagPfgspjZSLXipoY9uvAYte', 4),
 ('113XELoYSiYpiNbpNv7sherheRrqzXwS6c', 4),
 ('1KG46R2b5tT8UsSKSKPJBtZrQFdaaZWVSk', 4),
 ('1ByPUfpfn9db5f8cW9AZUUmw9BM4U6mKCM', 4),
 ('1617LqCtoAfdhxZpXF9hJWyZ1viLg9m4jC', 4),
 ('1CAXbXj3H8vhn549yLTEqW5YjMDwDQ4oxx', 4),
 ('12kC6UQweWCD87xUJ2EVsvXiQdNmUKQh2Q', 4),
 ('1NiwiSwU52VAQnbsXtTXJoxT8ZAPHRD4Az', 4),
 ('12Mz7wJ7ZEs4qwSVsm4EW5bE52dWhK21nb', 4),
 ('1NQudNFszKBbPPH3iyt1F9g8qSCUrMaJiH', 4),
 ('13uT2ZnVBUEe7t9heqFinxdZu6FCUJVTTc', 4),
 ('19oGebEcr8AaLYdZjjZ8wgdAtXXtpZVMXW', 4),
 ('195cJF6SKMxbqhtA3uxnyF985NsPdVmbES', 4),
 ('19QtC5DvJ1omiUrXZkznfXBLmb1Phy9LiX', 4),
 ('14PF7dps43oLNu2vt41scQrb19S4LUw4F6', 4),
 ('15uHaZXbas8PLgxZYXFM5a3uCExDnXmpUC', 4),
 ('1CkqGavVrmW8STCGbcR3JXhXrSjPATyDZJ', 4),
 ('1F9WJVb4SWfaRbjb6LMgoHahLwenA1rArF', 4),
 ('1EkLa98xgFSdDDiBK4DhTasGQqAQPWcCNE', 4),
 ('18kS3AacTp4GxQpkZnec1jkK9NfDQEUfai', 4),
 ('1M7emDAZPXaWG1s9ebgnZSGxB8zNuJQyLD', 4),
 ('1FVeZQ3q93kWVfgv2Zgt5MAw6FyADK4C2j', 4),
 ('194g7WoCyN2bjk3TtTRoHuAGMAnEowZh34', 4),
 ('1AsMbh2vSfhcdvR14tAzsTQFG8EEcwjykM', 4),
 ('17sbAEKWv4wb6pdX3UiwKjmtnoCP8xa1Ct', 4),
 ('18fwAh4365wgFMeXf7s8MZoFBWgwWgdxsU', 4),
 ('1Kp97vge8oNA9y5b3X54Vw5hTtqU3442TE', 4),
 ('1Nbv1L1FJRpsspg1Y2CfQ17S86TuuXdwQJ', 4),
 ('15TRG5ne5hNk3kvu5MQHsszXpvXHL9GvUL', 4),
 ('1FheqiWLxs5Hts4QaK51Vwean1wwh6JhP1', 4),
 ('1Aj2V7Wb4iYCMiixtnT9un39XEbLTVNqxt', 4),
 ('1JmAPQJDVQMks9z4VTZYvUNkex6KjtsVzN', 4),
 ('1M5UGBKHQxWU66QkEMwkrt4qkg4dAC8uWr', 4),
 ('1EM5V9z9Yxctdzp9bKBWR3aNW6KCRp6DEf', 4),
 ('1KFJBiko8Xg2tZEJF19nYW2FAqzEubsGYm', 4),
 ('12tk4kRB7EcQTomD4koybJR82VARTXK7Be', 4),
 ('1E6ewTBdhdseC2m6Fa9xa1RR8yQvNjb9Cx', 4),
 ('1MsqxTQZuMbiYiH6AyxPq1dykvXKNZazku', 4),
 ('148YuB51EZvB42v1ZWnX4TTM96ei8RKXp6', 4),
 ('15VkEHm5nzGXqEtZDmBEDVN8gqkotoXNok', 4),
 ('1LqjVHBssEYvzNbA5mk25UZ8pE2CbAp1AP', 4),
 ('17V9wE1BL9bQb4hwTwpUVenHHB7ehyp7R4', 4),
 ('1DvKHVsNWFZUKPmtdZLbkTB5RZgqz3FpP3', 4),
 ('1ArYjdHY6HPa6vK6ncgtMTy7XvacHLEDvQ', 4),
 ('1Avke65mzkiUpJHhT42AH9hokUkT1ALiYq', 4),
 ('1Fjksk4GurFZT5h2mrKRbao1sAYWQ3cYuy', 4),
 ('1GfEfEvbZLF1jBotQQwJprvRZTL1iGo6KK', 4),
 ('1MibXEkw6b1X8y3auGgfqgJcmC2jAvt7JA', 4),
 ('13SJ4fJErFiLzRnA5WqGJ1muAaegXW3K11', 4),
 ('14D2BEoRhKPuRm71XvavhrgK6rGWsFzZdn', 4),
 ('1CxrDMXtAoUg853JTNqQFqN1Cv7XJAFZoB', 4),
 ('14QGDfQ8edH4bo6e7T6P8Xgh9gkLxMU66F', 4),
 ('1CAPJysXZvYLzKocGDFhoEDYADdd2pyMNu', 4),
 ('1LYEaKtw3jVSjpwT2d55dYLua1QXbGkQgU', 4),
 ('1KV2pVkXw5z66iDrhtw3Wi14KMxMNtFiJj', 4),
 ('1BDUfTcqrwFKGEYifeMrzrrTqdRE8GF1J2', 4),
 ('1H6gNiGAqVkXsNBMrzBMUVmKMRFXPZ4zkA', 4),
 ('1BQUeY8Tk2BwyLArpodiKVi81yiFymrsHT', 4),
 ('18MzU2LD5hNUWA56PGaSdhA2r6khdFveiW', 4),
 ('14kS5r28Y8XUruUJ6hhugNtgFQhLcdYwrE', 4),
 ('1BmhMynQPZgERsnrBRFBCdZQogJknAzj8Y', 4),
 ('1GkK9SZgAXECd2239mBp7RjzsgJWzqXBpr', 4),
 ('1Chx5QD9rsRKXqcicaUBf1uZx1eDXFyoDj', 4),
 ('1PoVtRSzm8JKy31yRZHPFtgnmgmBZSmDR6', 4),
 ('1QkkXfK9H7Nu2yfJX7kMBg9xEBPZhTyhY', 4),
 ('12nhmY5yggQfu7dxDVZm1ot2AKDMcJqu2g', 4),
 ('168taFu1qm7mag1h5ZLmpuYD1hu4YQNiX1', 4),
 ('1LTZBTsSQD1RQnha8thke79CTmVmNs3Cyi', 4),
 ('1JVbdtobEoY2gvXaPjKMgmqjV9hxJ4vEyx', 4),
 ('14e721oPoCQtYJVszkYJuD3SG2wSzMcFJT', 4),
 ('1BJP8eqsdUKRfem6uHBghNGDR3NuFN6Vom', 4),
 ('15w9ozY3woVptTCpLLfWMJ9anMo8KeABJb', 4),
 ('1L3AP1xAPr841oAFfc2gpiGA7P3aN74Uku', 4),
 ('1A1Qw2UtX76SYLdZuQaNbVG1DZR4R4kc8K', 4),
 ('1KkGUkVzWrivEVx3sepvA6fLZ2pYLFjX4D', 4),
 ('1JwEmDaESF4JmZWrE9cgzUNXoKkRC1LmXq', 4),
 ('1kT3uQnBwYGjngU1ApQNSYFG9XskAhCTC', 4),
 ('112NfMorH66GdRgWVFUAb43nQAbw2wKgRW', 4),
 ('1PcMxkAR4hj9Qz1fzwTuCdpbfNbWMczrDK', 4),
 ('16NvXjFPxMTMZ9wjVjkPdGbkfYJ4dHjgSK', 4),
 ('1PsXhixfkxNUCYcginEGSuuw3wiRZWJaw5', 4),
 ('16PJcPk72utTezPxesUjjm2wacCoAAUXUd', 4),
 ('1E91eQVGEVw4HQUHmKotMZ4cCAEUWBE6GQ', 4),
 ('1EhgAM7CC5nXE1HWupg2Sn9Xe9eiQapbQH', 4),
 ('1U7B64PC26EeesD6wP1G4rHCEPxcdNzSc', 4),
 ('1S74RGg7tLi35vcy1ajsrUFkdNtRhEJ5k', 4),
 ('16YWWAL9HUeecp9AUHajzQQUv2cCoeKqQm', 4),
 ('1Jf6jLBraeGMW6ugvfLGU2E8T7V7xUp9aS', 4),
 ('1GZgbAkZEBV9JdnngRQwUoyRqezbaRCdxw', 4),
 ('1K8BA2GVuDX928uVFvbCJkv4ChFeEnz9DG', 4),
 ('1DN8s3j4eJQWL6KFDnzpVXLaUAbZd6HSDY', 4),
 ('1K6GZRDaM3YiN9h62yr7XxD3k22z7eP2JB', 4),
 ('14RbPKyC41LBgpUUhYYv8D8pmHrupDVLSQ', 4),
 ('1Hz6vrYZyP7S8Uuh3oGf5GzJ95cxpob78e', 4),
 ('18kGo2tuZXJQcgvP9VDvzKEDDrKZhjiHiZ', 4),
 ('1MGBqKYBfGwLGRjNa9zPgUN8KcMzxSSZ9J', 4),
 ('1KkAx9hJb5aVzkAkKTMybUQdwNoJeiJWnf', 4),
 ('1JpHHRtr3QxHtaKXSCNat2degnJrGnSWsG', 4),
 ('17WhSsKrTrTUQ1a95QEcysRiqBtBP9MdZ', 4),
 ('1547ixcToiynHckJwbBa4qY58W8LXVC5ne', 4),
 ('16cKVvzyohfUmZ8gnwih3A8ftB87UVGuKz', 4),
 ('1MvcCc4g2C2Ym75ARsH1QjJNsLayScDMpQ', 4),
 ('131khyfH87TPC9fimmDofAdPcdv3JRKtmW', 4),
 ('1KTvMhUSBEnS4b1J4tMeaEPb9rWFH7VGvp', 4),
 ('1N8CzenRh3QtTi5aqqsf8YA9ipnPgy35Si', 4),
 ('1NJdqK1722Lk17d9euvhAYuhU8s9vX3YA8', 4),
 ('141DF9qgrWLsdosCw4bj3qdVfo8PsK3erx', 4),
 ('1EUtDRksYnYaAbHDBCVaMbqDPuhM1CVWiL', 4),
 ('1Kc1gD7CJj6MzfnWs4NQmBJEYUeEVEQfUA', 4),
 ('1KAeSmuoFSFENxY4yGAFT6kAKftZRgWmYx', 4),
 ('1KzezQkGYMuVgnSCw2y8XKSaAp9CQk5f1M', 4),
 ('18iRuVxLPhmapVFJQCMXC4e8RnoAYp4Zod', 4),
 ('17xzXxLoM6RXuEj59x3sEBLWyxRFSUnct6', 4),
 ('1QL8xoY2vqexEVyUgmED1kTFedsGx97tJz', 4),
 ('1Ak3LFn64AP7RGuj9JUMvh2mm3xEfN1p8P', 4),
 ('1AbQ91eTaqFY95p9zny1vsMWzbDqQZuJpo', 4),
 ('18PQRMmynYgo3f6Ag4yWppeHYyMv5av1zS', 4),
 ('198g1hivH7VJqScHZ159QDcCnm3wFS4Ge5', 4),
 ('1GVY7KDSzmn2gW7wUMvf9wacKXB54yne5B', 4),
 ('16iczQ1WiThJW5LYD7Tvs4Py3MxMs1mJGr', 4),
 ('183rwqrLFG1NN5EfRr9S3rBMC7aBSckUvM', 4),
 ('1GuJ6omS6fHxxuooZoFokeXx8VLM3C4caJ', 4),
 ('14i3bmbjPGj8YdMm7jfe2tnfkZWT93tRHu', 4),
 ('1E9BWjgjAnzWeRbKAvEsJDt7hWsP3daouk', 4),
 ('1HtRY7Rvr4ena6YjYmFv2j88YQoN3s1jmA', 4),
 ('16XBvGUshAGsgfaRsvdsKSyBGfTEqVmSxE', 4),
 ('12t1CTn6MFQkGpv2wo1T97iry5PShJPMhK', 4),
 ('1AB6qpL9vDBmFJf7HyEApstU6qYKyzdXoc', 4),
 ('1Jt8bRVcsrLj9DZ6ZUQdkeE5xR5nhmDDAo', 4),
 ('16taUtYjUYhb7SCAKGNgtSqZMbgAMkXUmg', 4),
 ('1VLHHDsC9iH3ALdAGHd7XfDsBAaz6yugK', 4),
 ('1JTECKgMoqw8aAdai7UJmuczUsW7nHraDz', 4),
 ('1JLYnUv5NKjspo3ey5YnnB4gCqexkFzEN5', 4),
 ('19aB6bJbRsc1EWWnydd1iSxj6TowsHeTKE', 4),
 ('1MSiXyT1CMCVxCbi1UsjnWsEUr979j6Gwn', 4),
 ('1748XCDVJRYpxPacvEjixxeg5QtYcFRHoz', 4),
 ('16fs3zmQvGThfADCwwTW4PCKRyY16M4Hep', 4),
 ('14V2D7wmoeW2aYKKKUTLtgVZbqRmPRwJT3', 4),
 ('16jGQCTPfK9QazFQk33ggKACmE5oUsF9B8', 4),
 ('1As6YePhkfppjnSRecsQ4FovNCjgcofh9Y', 4),
 ('17QeJnvc6ggqVwiQQXSLJ2DTNZFXpzd2as', 4),
 ('19Dbz3YSyYk1KzUs3xFgQZZgrbfxkY2PVh', 4),
 ('1EGHBRUhSUViTdjoZtYKDUbEgjtAdjvfL8', 4),
 ('1Q3D1biU3tpKzbvQQTJeUi9jaTi835m1ER', 4),
 ('1DEkEwrqLrjGMEvWPEt3ssTGZ4ocfkDDvs', 4),
 ('1758tTe3n1ZKyY7gpN2VaprSUMNY2HHhTF', 4),
 ('1PZCS6615yNqVD19jWi8SANw7efY6G3auG', 4),
 ('1M6TFreUCN2vdD9AghCwxXPaNogsCVky8G', 4),
 ('1aem1Xwc24iYWpGNwXhdDXPvKuT6jKR3s', 4),
 ('1225JV5Zo2U7T3QU6naQx9DNYK5g5RSRF6', 4),
 ('12ykbyJsnBYhtM1JMrZV9W7wqDFX8EjUWd', 4),
 ('1HV1zofG6CymRQgk5fvK7tqDsrkg7gGfDi', 4),
 ('1FxV8UiYsfvHf2sbTjugecNzivSTUWZJAa', 4),
 ('1HxjwyMkwsh561WS3ssqCdEAQoyjTBnZTM', 4),
 ('1MypXxchddznKpprATkPTvpojCVh5xLJmr', 4),
 ('1N9MDaPHqxKcgWJuuGygdvBKPwZX9uneSg', 4),
 ('12wU6KVZ4t4uWDxTM7sXyPnay7vipbsLfL', 4),
 ('1GNQXgp9oCHLqHAozXAbVJp6kKa7sUaZR7', 4),
 ('14bpPqEaJAsVcTHVKXotPfdN1iFsvLiHyQ', 4),
 ('15cC1mKv2jUN2sMv2CqzJBDrczqRKoDQWf', 4),
 ('1MLcwxQuswacD3C3swM6fjdxRmE4dr59Xm', 4),
 ('1Kf75kNcxdP2LXgrB987AxeFBebDxKvyEL', 4),
 ('15xq2gr5xRwtZE28XNdVZERnUeEwkXtuip', 4),
 ('1MhSrfZy8Ezf5rbDS6zQTgRYcstPUqi5rM', 4),
 ('19UcouRchYBb3CSVyvh8Fp5598s7JLHYyQ', 4),
 ('158Yus7Ny3GpijgRQaSAzNkPvRnYqucaB5', 4),

In [8]:
addr_to_component["1PQBBWY435CTSnir4wrfD8HXZ4E92v9Xd6"], \
addr_to_component["1AueTrCc9oK7ovbtfYeVSJe4UQEaxcRMFy"]

(4, 4)

In [10]:
tx_with_users = pd.merge(
    left=addr_tx_df,
    right=addr_to_user_df,
    left_on="input_address",
    right_on="addrId",
    how="left"
)
tx_with_users.drop("input_address", axis=1, inplace=True)
tx_with_users.drop("addrId", axis=1, inplace=True)

tx_with_users = tx_with_users.drop_duplicates()
tx_with_users.to_csv("../dataset/custom/UserTx.csv", index=False)

In [11]:
tx_addr_df = pd.read_csv("../dataset/Elliptic++ Dataset/TxAddr_edgelist.csv")
tx_with_users = pd.merge(
    left=tx_addr_df,
    right=addr_to_user_df,
    left_on="output_address",
    right_on="addrId",
    how="left"
)
tx_with_users.drop("output_address", axis=1, inplace=True)
tx_with_users.drop("addrId", axis=1, inplace=True)
tx_with_users

# tx_with_users = tx_with_users.drop_duplicates()
tx_with_users.to_csv("../dataset/custom/TxUser.csv", index=False)

In [12]:
addr_addr_df = pd.read_csv("../dataset/Elliptic++ Dataset/AddrAddr_edgelist.csv")
addr_with_users = pd.merge(
    left=addr_addr_df,
    right=addr_to_user_df,
    left_on="input_address",
    right_on="addrId",
    how="left"
)
addr_with_users.drop("input_address", axis=1, inplace=True)
addr_with_users.drop("addrId", axis=1, inplace=True)
addr_with_users["inputUserId"] = addr_with_users["userId"]
addr_with_users.drop("userId", axis=1, inplace=True)

addr_with_users = pd.merge(
    left=addr_with_users,
    right=addr_to_user_df,
    left_on="output_address",
    right_on="addrId",
    how="left"
)
addr_with_users.drop("output_address", axis=1, inplace=True)
addr_with_users.drop("addrId", axis=1, inplace=True)
addr_with_users["outputUserId"] = addr_with_users["userId"]
addr_with_users.drop("userId", axis=1, inplace=True)

addr_with_users

addr_with_users = addr_with_users.drop_duplicates()
addr_with_users.to_csv("../dataset/custom/UserUser.csv", index=False)

# Проверка классов легальных-нелегальных по пользователям

In [13]:
addr_to_user = pd.read_csv("../dataset/custom/AddrUser.csv")
addr_to_class = pd.read_csv("../dataset/Elliptic++ Dataset/wallets_classes.csv")
addr_to_tx = pd.read_csv("../dataset/Elliptic++ Dataset/AddrTx_edgelist.csv")
tx_to_addr = pd.read_csv("../dataset/Elliptic++ Dataset/TxAddr_edgelist.csv")

addr_to_class.head()

                              address  class
0   111112TykSw72ztDN2WJger4cynzWYC5w      2
1   1111DAYXhoxZx2tsRnzimfozo783x1yC2      3
2    1111VHuXEzHaRCgXbVwojtaP7Co3QABb      2
3  111218KKkh1JJFRHbwM16AwCiVCc4m7he1      3
4   1115LWW3xsD9jT9VRY7viCN9S34RVAAuA      2

In [14]:
users_with_classes = pd.merge(
    left=addr_to_user,
    right=addr_to_class,
    left_on="addrId",
    right_on="address",
    how="left"
)
users_with_classes.drop("address", axis=1, inplace=True)
users_with_classes.drop("addrId", axis=1, inplace=True)

users_with_classes

        userId  class
0            1      3
1            2      3
2            3      3
3            4      2
4            4      3
...        ...    ...
822937  569509      3
822938  569510      3
822939  569511      2
822940  569512      3
822941  569513      3

[822942 rows x 2 columns]

In [15]:
user_id_to_classes_cnt = users_with_classes.groupby("userId")["class"].nunique().reset_index()
user_id_to_classes_cnt[user_id_to_classes_cnt["class"] == 3]

        userId  class
3            4      3
31          32      3
35          36      3
110        111      3
127        128      3
...        ...    ...
93412    93413      3
183347  183348      3
205323  205324      3
227113  227114      3
248222  248223      3

[62 rows x 2 columns]

In [16]:
wallets = addr_to_user[addr_to_user["userId"] == 518392]["addrId"]
wallets

771673    17Lr3WNwJPJN5es7pP5RnftNGskcPP24L8
Name: addrId, dtype: object

In [17]:
addr_to_class[addr_to_class["address"].isin(wallets)]

                                   address  class
166532  17Lr3WNwJPJN5es7pP5RnftNGskcPP24L8      3

In [18]:
addr_to_tx[addr_to_tx["input_address"].isin(wallets)]

                             input_address     txId
243417  17Lr3WNwJPJN5es7pP5RnftNGskcPP24L8  5559864

In [19]:
wallets = addr_to_user[addr_to_user["userId"] == 48539]["addrId"]
addr_to_class[addr_to_class["address"].isin(wallets)]

                                   address  class
218700  192WpD5RLTWARzWT9wuMoeQ5JABHXWnwZw      2

In [20]:
addr_to_tx[addr_to_tx["input_address"].isin(wallets)]

Empty DataFrame
Columns: [input_address, txId]
Index: []

In [21]:
addr_to_tx[addr_to_tx["input_address"].isin(["13c5bD3yay8QaJGbHrW8WjGYg8ekCCxz5q"])]

                            input_address       txId
64156  13c5bD3yay8QaJGbHrW8WjGYg8ekCCxz5q  224254822

In [22]:
tx_to_addr[tx_to_addr["output_address"].isin(["13c5bD3yay8QaJGbHrW8WjGYg8ekCCxz5q"])]

             txId                      output_address
101458  223909678  13c5bD3yay8QaJGbHrW8WjGYg8ekCCxz5q

In [23]:
user_to_min_class = users_with_classes.groupby("userId")["class"].min().reset_index()
user_to_min_class.to_csv("../dataset/custom/UserClasses.csv", index=False)
user_to_min_class["class"].value_counts()

class
3    408435
2    155083
1      5995
Name: count, dtype: int64

In [24]:
addr_to_class["class"].value_counts()

class
3    557588
2    251088
1     14266
Name: count, dtype: int64

# Соберем полную таблицу фичей пользователей

In [25]:
user_to_addr_cnt = pd.read_csv("../dataset/custom/AddrUser.csv") \
    .groupby("userId")["addrId"] \
    .nunique() \
    .reset_index() \
    .rename({"addrId": "addr_cnt"}, axis=1)
user_to_addr_cnt.head()

   userId  addr_cnt
0       1         1
1       2         1
2       3         1
3       4      5656
4       5         1

In [26]:
user_to_outcoming_tx_cnt = pd.read_csv("../dataset/custom/UserTx.csv") \
    .groupby("userId")["txId"] \
    .nunique() \
    .reset_index() \
    .rename({"txId": "outcoming_tx_cnt"}, axis=1)
user_to_outcoming_tx_cnt.head()

   userId  outcoming_tx_cnt
0       2                 1
1       4               167
2      11                 1
3      12                 1
4      13                 1

In [27]:
user_to_incoming_tx_cnt = pd.read_csv("../dataset/custom/TxUser.csv") \
    .groupby("userId")["txId"] \
    .nunique() \
    .reset_index() \
    .rename({"txId": "incoming_tx_cnt"}, axis=1)
user_to_incoming_tx_cnt.head()

   userId  incoming_tx_cnt
0       1                1
1       2                5
2       3                1
3       4             4110
4       5                1

In [28]:
user_to_incoming_users_cnt = pd.read_csv("../dataset/custom/UserUser.csv") \
    .groupby("outputUserId")["inputUserId"] \
    .nunique() \
    .reset_index() \
    .rename({"outputUserId": "userId", "inputUserId": "input_users_cnt"}, axis=1)
user_to_incoming_users_cnt.head()

   userId  input_users_cnt
0       1                1
1       2                5
2       3                1
3       4             3546
4       5                1

In [29]:
user_to_outcoming_users_cnt = pd.read_csv("../dataset/custom/UserUser.csv") \
    .groupby("inputUserId")["outputUserId"] \
    .nunique() \
    .reset_index() \
    .rename({"inputUserId": "userId", "outputUserId": "output_users_cnt"}, axis=1)
user_to_outcoming_users_cnt.head()

   userId  output_users_cnt
0       2                 1
1       4               215
2      11                 2
3      12                 1
4      13                 2

In [30]:
def merge_dfs(l, r, field_to_coalesce=None):
    res = pd.merge(
        left=l,
        right=r,
        on="userId",
        how="left",
    )
    if field_to_coalesce:
        res[field_to_coalesce] = res[field_to_coalesce].fillna(0)
    return res

user_data = merge_dfs(user_to_addr_cnt, user_to_outcoming_tx_cnt, field_to_coalesce="outcoming_tx_cnt")
user_data = merge_dfs(user_data, user_to_incoming_tx_cnt, field_to_coalesce="incoming_tx_cnt")
user_data = merge_dfs(user_data, user_to_incoming_users_cnt, field_to_coalesce="input_users_cnt")
user_data = merge_dfs(user_data, user_to_outcoming_users_cnt, field_to_coalesce="output_users_cnt")
user_data = merge_dfs(user_data, pd.read_csv("../dataset/custom/UserClasses.csv"))



user_data.to_csv("../dataset/custom/UserData_Small.csv", index=False)

In [31]:
wallets_features = pd.read_csv("../dataset/Elliptic++ Dataset/wallets_features.csv")
wallets_features = pd.merge(
    left=wallets_features,
    right=addr_to_user,
    left_on="address",
    right_on="addrId",
    how="left",
)
wallets_features

,address,Time step,num_txs_as_sender,num_txs_as receiver,first_block_appeared_in,last_block_appeared_in,lifetime_in_blocks,total_txs,first_sent_block,first_received_block,...,blocks_btwn_output_txs_mean,blocks_btwn_output_txs_median,num_addr_transacted_multiple,transacted_w_address_total,transacted_w_address_min,transacted_w_address_max,transacted_w_address_mean,transacted_w_address_median,addrId,userId
0,111112TykSw72ztDN2WJger4cynzWYC5w,25,0.0,1.0,439586.0,439586.0,0.0,1.0,0.0,439586.0,...,0.000000,0.0,0.0,24.0,1.0,1.0,1.0,1.0,111112TykSw72ztDN2WJger4cynzWYC5w,244669
1,1111DAYXhoxZx2tsRnzimfozo783x1yC2,25,0.0,8.0,439589.0,485959.0,46370.0,8.0,0.0,439589.0,...,6624.285714,8060.0,0.0,8.0,1.0,1.0,1.0,1.0,1111DAYXhoxZx2tsRnzimfozo783x1yC2,8814
2,1111DAYXhoxZx2tsRnzimfozo783x1yC2,29,0.0,8.0,439589.0,485959.0,46370.0,8.0,0.0,439589.0,...,6624.285714,8060.0,0.0,8.0,1.0,1.0,1.0,1.0,1111DAYXhoxZx2tsRnzimfozo783x1yC2,8814
3,1111DAYXhoxZx2tsRnzimfozo783x1yC2,39,0.0,8.0,439589.0,485959.0,46370.0,8.0,0.0,439589.0,...,6624.285714,8060.0,0.0,8.0,1.0,1.0,1.0,1.0,1111DAYXhoxZx2tsRnzimfozo783x1yC2,8814
4,1111DAYXhoxZx2tsRnzimfozo783x1yC2,39,0.0,8.0,439589.0,485959.0,46370.0,8.0,0.0,439589.0,...,6624.285714,8060.0,0.0,8.0,1.0,1.0,1.0,1.0,1111DAYXhoxZx2tsRnzimfozo783x1yC2,8814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268255,3R2Uw5MRdSSigp8AjfT7K5es6Hupm4qLSq,31,1.0,1.0,451684.0,451685.0,1.0,2.0,451685.0,451684.0,...,0.000000,0.0,0.0,3.0,1.0,1.0,1.0,1.0,3R2Uw5MRdSSigp8AjfT7K5es6Hupm4qLSq,28030
1268256,3R2VBFbqHGC4bQ7b4ixN4jZTdv7RMbEYtf,44,0.0,1.0,477895.0,477895.0,0.0,1.0,0.0,477895.0,...,0.000000,0.0,0.0,1.0,1.0,1.0,1.0,1.0,3R2VBFbqHGC4bQ7b4ixN4jZTdv7RMbEYtf,191828
1268257,3R2WFmRwbDeo3rMVVu5J3jjMxAuQYYWAid,9,0.0,1.0,407342.0,407342.0,0.0,1.0,0.0,407342.0,...,0.000000,0.0,0.0,1.0,1.0,1.0,1.0,1.0,3R2WFmRwbDeo3rMVVu5J3jjMxAuQYYWAid,566274
1268258,3R2WTZGYLmbJQyoDSBftJsPRvF1mSEtkh6,3,0.0,1.0,395235.0,395235.0,0.0,1.0,0.0,395235.0,...,0.000000,0.0,0.0,1.0,1.0,1.0,1.0,1.0,3R2WTZGYLmbJQyoDSBftJsPRvF1mSEtkh6,222919
1268259,3R2bm6iqbzcVpEeFCSFarS56b56QfjyiSW,9,1.0,0.0,407333.0,407333.0,0.0,1.0,407333.0,0.0,...,0.000000,0.0,0.0,1.0,1.0,1.0,1.0,1.0,3R2bm6iqbzcVpEeFCSFarS56b56QfjyiSW,1119

In [32]:
wallets_features_agg = wallets_features \
    .groupby("userId") \
    .agg({
        "Time step": "nunique",
        "btc_transacted_total": "sum",
        "btc_sent_total": "sum",
        "btc_received_total": "sum",
        "btc_sent_median": "median",
        "btc_received_median": "median",
    }) \
    .reset_index() \
    .rename(columns={
        "Time step": "active_time_steps_cnt",
        "txId": "incoming_tx_cnt",
    })
wallets_features_agg.head()

,userId,active_time_steps_cnt,btc_transacted_total,btc_sent_total,btc_received_total,btc_sent_median,btc_received_median
0,1,1,0.004675,0.000000,0.004675,0.00000,0.004675
1,2,1,0.060000,0.030000,0.030000,0.00000,0.000800
2,3,1,0.004900,0.000000,0.004900,0.00000,0.004900
3,4,26,23970.064106,12838.606215,11131.457891,0.03835,0.015823
4,5,1,0.007039,0.000000,0.007039,0.00000,0.007039

In [33]:
user_to_outcoming_addr_cnt = pd.read_csv("../dataset/custom/UserTx.csv") \
    .merge(
        pd.read_csv("../dataset/Elliptic++ Dataset/TxAddr_edgelist.csv"),
        how="left",
        left_on="txId",
        right_on="txId",
    ) \
    .groupby("userId")["output_address"] \
    .nunique() \
    .reset_index() \
    .rename({"userId": "userId", "output_address": "interracted_output_address_cnt"}, axis=1)

user_to_incoming_addr_cnt = pd.read_csv("../dataset/custom/TxUser.csv") \
    .merge(
        pd.read_csv("../dataset/Elliptic++ Dataset/AddrTx_edgelist.csv"),
        how="left",
        left_on="txId",
        right_on="txId",
    ) \
    .groupby("userId")["input_address"] \
    .nunique() \
    .reset_index() \
    .rename({"userId": "userId", "input_address": "interracted_input_address_cnt"}, axis=1)


user_to_incoming_addr_cnt

        userId  interracted_input_address_cnt
0            1                              1
1            2                              5
2            3                              1
3            4                          11097
4            5                              1
...        ...                            ...
531662  569509                              8
531663  569510                              1
531664  569511                              2
531665  569512                              2
531666  569513                              5

[531667 rows x 2 columns]

In [34]:
user_data_populated = merge_dfs(user_data, wallets_features_agg)
user_data_populated = merge_dfs(user_data_populated, user_to_outcoming_addr_cnt, "interracted_output_address_cnt")
user_data_populated = merge_dfs(user_data_populated, user_to_incoming_addr_cnt, "interracted_input_address_cnt")

user_data_populated.to_csv("../dataset/custom/UserData.csv", index=False)

**Add fees info**

In [35]:
tx_to_fee = pd.read_csv("../dataset/Elliptic++ Dataset/txs_features.csv")[["txId", "fees"]]

user_to_tx = pd.read_csv("../dataset/custom/UserTx.csv")

tx_to_fee = tx_to_fee.groupby('txId')['fees'].agg(['sum', 'mean', "min"]).reset_index() \
    .rename(columns={"sum": "fees_total", "mean": "fees_mean", "min": "fees_min"})

user_to_fees = user_to_tx \
    .merge(
        tx_to_fee,
        how="left",
        left_on="txId",
        right_on="txId",
    ) \
    .groupby("userId") \
    .agg({
        "fees_total": "sum",
        "fees_mean": "mean",
        "fees_min": "min",
    }) \
    .reset_index()
user_to_fees

        userId  fees_total  fees_mean  fees_min
0            2    0.000200   0.000200  0.000200
1            4    1.838772   0.011011  0.000182
2           11    0.000100   0.000100  0.000100
3           12    0.002932   0.002932  0.002932
4           13    0.000147   0.000147  0.000147
...        ...         ...        ...       ...
146778  569484    0.000147   0.000147  0.000147
146779  569488    0.001095   0.001095  0.001095
146780  569489    0.000200   0.000200  0.000200
146781  569495    0.000136   0.000136  0.000136
146782  569505    0.000300   0.000300  0.000300

[146783 rows x 4 columns]

In [36]:
user_data_populated_with_fees = merge_dfs(user_data_populated, user_to_fees)
user_data_populated_with_fees["fees_total"] = user_data_populated_with_fees["fees_total"].fillna(0)
user_data_populated_with_fees["fees_mean"] = user_data_populated_with_fees["fees_mean"].fillna(0)
user_data_populated_with_fees["fees_min"] = user_data_populated_with_fees["fees_min"].fillna(0)
user_data_populated_with_fees.to_csv("../dataset/custom/UserData.csv", index=False)

In [65]:
def gini_coefficient(values):
    sorted_values = sorted(values)
    n = len(values)
    cumsum = sum([(i+1) * val for i, val in enumerate(sorted_values)])
    return (2 * cumsum) / (n * sum(values)) - (n + 1) / n

def safe_gini_coefficient(values):
    if len(values) < 2:
        return 0
    if sum(values) == 0:
        return np.nan
    try:
        return gini_coefficient(values)
    except:
        return np.nan
user_to_ts_gini = wallets_features.groupby('userId')['Time step'].apply(safe_gini_coefficient)
user_to_ts_gini = user_to_ts_gini.reset_index().rename(columns={"Time step": "overall_activity_coef"})

In [66]:
user_to_ts_gini.value_counts()

userId  overall_activity_coef
1       0.000000                 1
379678  0.000000                 1
379672  0.000000                 1
379673  0.009434                 1
379674  0.023810                 1
                                ..
189834  0.000000                 1
189833  0.000000                 1
189832  0.000000                 1
189831  0.000000                 1
569513  0.000000                 1
Name: count, Length: 569513, dtype: int64

In [67]:
user_data_populated_with_gini = merge_dfs(user_data_populated, user_to_ts_gini)

In [86]:
# wallets_features = pd.read_csv("../dataset/Elliptic++ Dataset/wallets_features.csv")
tx_to_fee = pd.read_csv("../dataset/Elliptic++ Dataset/txs_features.csv")[["txId", "fees", "Time step"]]
ts_to_fees = tx_to_fee.groupby('Time step')['fees'].agg(['median', 'mean']).reset_index() \
    .rename(columns={"median": "fees_in_ts_median", "mean": "fees_in_ts_mean"})

tx_to_fee_sum = tx_to_fee.groupby(['txId', "Time step"])['fees'].agg(['sum']).reset_index() \
    .rename(columns={"sum": "tx_fees_sum"})
tx_to_fee_sum
user_to_fees_by_ts = user_to_tx \
    .merge(
        tx_to_fee_sum,
        how="left",
        left_on="txId",
        right_on="txId",
    ) \
    .groupby(["userId", "Time step"])["tx_fees_sum"] \
    .agg(['mean', "median"]).reset_index() \
    .rename(columns={"mean": "user_tx_fees_mean", "median": "user_tx_sum_median"})
user_to_fees_by_ts = user_to_fees_by_ts \
    .merge(
        ts_to_fees,
        how="left",
        left_on="Time step",
        right_on="Time step",
    )
user_to_fees_by_ts["user_mean_fees_to_ts_fees_share"] = user_to_fees_by_ts["user_tx_fees_mean"] / user_to_fees_by_ts["fees_in_ts_mean"]
user_to_fees_by_ts

,userId,Time step,user_tx_fees_mean,user_tx_sum_median,fees_in_ts_median,fees_in_ts_mean,user_mean_fees_to_ts_fees_share
0,2,4,0.000200,0.000200,0.000100,0.000205,0.977704
1,4,23,0.001932,0.001923,0.000200,0.000376,5.140958
2,4,24,0.001315,0.001215,0.000204,0.000424,3.099915
3,4,25,0.002931,0.002801,0.000175,0.000480,6.105331
4,4,26,0.007804,0.006590,0.000237,0.000613,12.729608
...,...,...,...,...,...,...,...
151059,569484,32,0.000147,0.000147,0.000358,0.000564,0.260580
151060,569488,40,0.001095,0.001095,0.000887,0.002286,0.478945
151061,569489,11,0.000200,0.000200,0.000100,0.000228,0.877566
151062,569495,8,0.000136,0.000136,0.000200,0.000464,0.292087
151063,569505,6,0.000300,0.000300,0.000300,0.000340,0.882642

In [88]:
user_to_fees_info = user_to_fees_by_ts \
    .groupby(["userId"])["user_mean_fees_to_ts_fees_share"] \
    .agg(['mean', "min", "max"]).reset_index() \
    .rename(columns={
        "mean": "user_ts_fees_share_mean",
        "min": "user_ts_fees_share_min",
        "max": "user_ts_fees_share_max",
    })
user_to_fees_info

,userId,user_ts_fees_share_mean,user_ts_fees_share_min,user_ts_fees_share_max
0,2,0.977704,0.977704,0.977704
1,4,9.835605,3.099915,19.605217
2,11,0.552181,0.552181,0.552181
3,12,16.190508,16.190508,16.190508
4,13,0.310192,0.310192,0.310192
...,...,...,...,...
146778,569484,0.260580,0.260580,0.260580
146779,569488,0.478945,0.478945,0.478945
146780,569489,0.877566,0.877566,0.877566
146781,569495,0.292087,0.292087,0.292087
146782,569505,0.882642,0.882642,0.882642

In [ ]:
user_data_populated_with_gini_and_ts_fees = merge_dfs(user_data_populated_with_gini, user_to_fees_info)
# user_data_populated_with_gini_and_ts_fees.head(15)
user_data_populated_with_gini_and_ts_fees["user_ts_fees_share_mean"] = user_data_populated_with_gini_and_ts_fees["user_ts_fees_share_mean"].fillna(0)
user_data_populated_with_gini_and_ts_fees["user_ts_fees_share_min"] = user_data_populated_with_gini_and_ts_fees["user_ts_fees_share_min"].fillna(0)
user_data_populated_with_gini_and_ts_fees["user_ts_fees_share_max"] = user_data_populated_with_gini_and_ts_fees["user_ts_fees_share_max"].fillna(0)

In [109]:
user_data_populated_with_gini_and_ts_fees.to_csv("../dataset/custom/UserData.csv", index=False)

In [111]:
user_to_whole_fee_cnt = user_to_tx \
    .merge(
        tx_to_fee_sum,
        how="left",
        left_on="txId",
        right_on="txId",
    ) \
    .drop(["txId", "Time step"], axis=1)
user_to_whole_fee_cnt["whole_fee_4"] = (
    np.floor(user_to_whole_fee_cnt["tx_fees_sum"] * (10**4)) == 
    user_to_whole_fee_cnt["tx_fees_sum"] * (10**4)
).astype(int)
user_to_whole_fee_cnt["whole_fee_5"] = (
    np.floor(user_to_whole_fee_cnt["tx_fees_sum"] * (10**4)) == 
    user_to_whole_fee_cnt["tx_fees_sum"] * (10**4)
).astype(int)
user_to_whole_fee_cnt["whole_fee_6"] = (
    np.floor(user_to_whole_fee_cnt["tx_fees_sum"] * (10**4)) == 
    user_to_whole_fee_cnt["tx_fees_sum"] * (10**4)
).astype(int)
user_to_whole_fee_cnt = user_to_whole_fee_cnt.groupby("userId") \
    .agg({
        "whole_fee_4": "sum",
        "whole_fee_5": "sum",
        "whole_fee_6": "sum",
    }) \
    .reset_index()
user_data_with_whole_fees = merge_dfs(user_data_populated_with_gini_and_ts_fees, user_to_whole_fee_cnt)
user_data_with_whole_fees["whole_fee_4"] = user_data_with_whole_fees["whole_fee_4"].fillna(0)
user_data_with_whole_fees["whole_fee_5"] = user_data_with_whole_fees["whole_fee_5"].fillna(0)
user_data_with_whole_fees["whole_fee_6"] = user_data_with_whole_fees["whole_fee_6"].fillna(0)

user_data_with_whole_fees.to_csv("../dataset/custom/UserData.csv", index=False)