# Fees in time step

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

sns.set(style="darkgrid")

np.random.seed(0)

In [3]:
wallets_features = pd.read_csv("../dataset/Elliptic++ Dataset/wallets_features.csv")
wallets_features.head()

,address,Time step,num_txs_as_sender,num_txs_as receiver,first_block_appeared_in,last_block_appeared_in,lifetime_in_blocks,total_txs,first_sent_block,first_received_block,...,blocks_btwn_output_txs_min,blocks_btwn_output_txs_max,blocks_btwn_output_txs_mean,blocks_btwn_output_txs_median,num_addr_transacted_multiple,transacted_w_address_total,transacted_w_address_min,transacted_w_address_max,transacted_w_address_mean,transacted_w_address_median
0,111112TykSw72ztDN2WJger4cynzWYC5w,25,0.0,1.0,439586.0,439586.0,0.0,1.0,0.0,439586.0,...,0.0,0.0,0.000000,0.0,0.0,24.0,1.0,1.0,1.0,1.0
1,1111DAYXhoxZx2tsRnzimfozo783x1yC2,25,0.0,8.0,439589.0,485959.0,46370.0,8.0,0.0,439589.0,...,0.0,20164.0,6624.285714,8060.0,0.0,8.0,1.0,1.0,1.0,1.0
2,1111DAYXhoxZx2tsRnzimfozo783x1yC2,29,0.0,8.0,439589.0,485959.0,46370.0,8.0,0.0,439589.0,...,0.0,20164.0,6624.285714,8060.0,0.0,8.0,1.0,1.0,1.0,1.0
3,1111DAYXhoxZx2tsRnzimfozo783x1yC2,39,0.0,8.0,439589.0,485959.0,46370.0,8.0,0.0,439589.0,...,0.0,20164.0,6624.285714,8060.0,0.0,8.0,1.0,1.0,1.0,1.0
4,1111DAYXhoxZx2tsRnzimfozo783x1yC2,39,0.0,8.0,439589.0,485959.0,46370.0,8.0,0.0,439589.0,...,0.0,20164.0,6624.285714,8060.0,0.0,8.0,1.0,1.0,1.0,1.0

In [11]:
ts_to_fees_median = wallets_features \
    .groupby("Time step") \
    .agg({
        "fees_total": "median",
    }) \
    .reset_index()
ts_to_fees_mean = wallets_features \
    .groupby("Time step") \
    .agg({
        "fees_total": "mean",
    }) \
    .reset_index()
ts_to_fees_data

    Time step  fees_total
0           1    0.000299
1           2    0.001690
2           3    0.000400
3           4    0.000600
4           5    0.000569
5           6    0.000600
6           7    0.000986
7           8    0.001812
8           9    0.001000
9          10    0.000600
10         11    0.001655
11         12    0.004330
12         13    0.004430
13         14    0.000907
14         15    0.001845
15         16    0.000846
16         17    0.002782
17         18    0.001024
18         19    0.001000
19         20    0.002721
20         21    0.002490
21         22    0.002189
22         23    0.001049
23         24    0.001857
24         25    0.004235
25         26    0.007430
26         27    0.024390
27         28    0.001648
28         29    0.002638
29         30    0.001640
30         31    0.004783
31         32    0.000958
32         33    0.015282
33         34    0.001967
34         35    0.003423
35         36    0.009878
36         37    0.012227
37         38    0.037441
38         39    0.008000
39         40    0.034810
40         41    0.005641
41         42    0.010795
42         43    0.014807
43         44    0.003090
44         45    0.003907
45         46    0.015019
46         47    0.003568
47         48    0.001500
48         49    0.002760