# Кластеризация на пользователей

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

sns.set(style="darkgrid")

np.random.seed(0)

Сделаем маппинг tx <-> список входящих кошельков

In [50]:
from collections import defaultdict

addr_tx_df = pd.read_csv("../dataset/Elliptic++ Dataset/AddrTx_edgelist.csv")

tx_inputs = defaultdict(lambda : [])
addr_list = set()
for index, row in addr_tx_df.iterrows():
    tx_inputs[row["txId"]].append(row["input_address"])
    addr_list.add(row["input_address"])
tx_addr_df = pd.read_csv("../dataset/Elliptic++ Dataset/TxAddr_edgelist.csv")
for index, row in tx_addr_df.iterrows():
    addr_list.add(row["output_address"])

addr_list = list(addr_list)

Сделаем граф зависимостей между адресами, запустим DFS и разобьем на обычные КС

In [51]:
addr_to_neighbors = defaultdict(lambda : [])
for tx, addrs in tx_inputs.items():
    if len(addrs) <= 1:
        continue
    for i in range(1, len(addrs)):
        addr_to_neighbors[addrs[i - 1]].append(addrs[i])
        addr_to_neighbors[addrs[i]].append(addrs[i - 1])

In [52]:
from copy import deepcopy

used = defaultdict(lambda : False)
addr_to_component = defaultdict(lambda : 0)

def dfs(node, comp_id):
    used[node] = True
    addr_to_component[node] = comp_id

    nodes_to_visit = deepcopy(addr_to_neighbors[node])

    while len(nodes_to_visit):
        nei = nodes_to_visit.pop()
        used[nei] = True
        addr_to_component[nei] = comp_id

        for nei1 in addr_to_neighbors[nei]:
            if used[nei1] or nei1 in nodes_to_visit:
                continue
            nodes_to_visit.append(nei1)

current_comp = 1
for addr in addr_list:
    if not used[addr]:
        dfs(addr, current_comp)
        current_comp += 1

In [53]:
list(addr_to_component.items())[:1000]

[('1CgzeXJFcStceNX4q6YRfFS3FN2xaepEg9', 1),
 ('1Chqwg76F1jvvgdfEWg1VwcNxogCbLF9PB', 1),
 ('19rCgDfUxnBXWzgAWrXtVXsnYWYHXWYihT', 1),
 ('1KxVQdjFVgzEEZCqBKXxz58YN23SGyUk9c', 1),
 ('19wE8yd3VmFKexAEpuXsUuQZmrJqQ9Qjfv', 1),
 ('1LZJyWJQHhvpfChjUaJj7Pukr82zimN1n5', 1),
 ('1BLGUrjbyfyjMxUsMhtrFFgjwR5dqoFgBA', 1),
 ('1BrbCquFR4EwBk2yDPDE9FZR5aM8pEGxKr', 1),
 ('1ATQuaiwh4BLUFCQgLESMK7NA9uDXea8nD', 1),
 ('1Lkn2dYfCEP2kA9nUA2CBpWdQfVBeYz9Ps', 1),
 ('1A5VbutDgnQm1Sk6LKLx6PWCVt55iQEV8Q', 2),
 ('1MVWpKq8XMKdmPbHYAeGs5bbu58ySH4Ste', 3),
 ('1KNvjhAB3GeWFFKnT1zcibgXAQyDzfCHD4', 4),
 ('1K9CeoSZ3qm7vsVL12XAWUiVacfwRUe6Mp', 5),
 ('1ESkCRzwxi6AdZDJzYsbxJXdtJ5vm5HBSE', 6),
 ('1EBZjxTX7X6WQTLzMB9pM4oDGCZTy1ZURy', 7),
 ('1D9TLHghZm8Q9qdmZZqFjxt7hvxmjkuAt9', 8),
 ('1EBTtYA7EJQQEnwXPxwB6KWFgxVHN1yocp', 9),
 ('16WU5dZRqstwQbFtZ8XGsCFjA5DxsBSwrC', 9),
 ('1BhxKSjLPL15GnVhcJrviQjP1CQX5MNeVt', 9),
 ('1NX8bUFckSyxSVukpKuk9j32Rt53BFeExx', 9),
 ('1GodSyw8s3vVuYmhNhE56KSjUCQGThbvr9', 9),
 ('14iMFBtXUm3jisXDsS1XYaXiUX1Kg9n7Vw', 9),
 ('18DD7tpBp7U1tNHakgT97Ch8d9feQp9wpW', 9),
 ('1J9thenGk3ZXnQjcCQTTyM7XgXSMcLgube', 9),
 ('1SKnVraoPAGFsa29RHB8PZh8G7aFSAdWd', 9),
 ('1Nw13z2sZy5qUYgGQdd45Jva63KfxrZoyR', 9),
 ('17A1J1hhTxwhbjUmj9mXwvQjjQrWb72zrA', 9),
 ('1BG2axM9pv62xasE6iahT7vdsBfPhseENv', 9),
 ('1EJcuRDoK5Fdi5eBXRi8TufnGWZGBt5ZfV', 9),
 ('146Wizc587ZTvRFaVc3nb1MK8d3BBakSeM', 9),
 ('1NQMRpfKdK3LytsutpFX9SzUh8CKDy9K3t', 9),
 ('1KAX9Y1FHanwVausNo86KFzc1SM1YejevN', 9),
 ('12MYxgwqrtJp4h5i7hpDNtwaLhjMK9Bv1M', 9),
 ('1AWAUJaHCxbgdhsC1kyTHHjumpuC6JNBTW', 9),
 ('17psGSWRbyRKxjZHuSfctyFZjYVe1o4p69', 9),
 ('1CHFBjbU5z53YEUdkd92SrqgE6y2VcZREu', 9),
 ('114gzLUYECBQ8NLpayRX9C3T97KqbYiXUs', 9),
 ('1PopW4DPZqkFsf4gmAv5hwN5vhDwFUwomq', 9),
 ('19gLDcwYUBDyiwAcnoeJMAA3Dz31MCQLYH', 9),
 ('1GhoY167biUuMihPXjGQqELap68Pq8ySjD', 9),
 ('12GDT7TN5Vxscr4ZxiLWaK35bnSzwqZP8f', 9),
 ('1282iiJ1ka9VxbCE1MHvYqBFyyJX5nDH6z', 9),
 ('19E67f58oFBvrXs2iRq2THGDyjvy4K5cuh', 9),
 ('1JyuT4HvcB22EHSEJo8smiUc5vXtbdUE9G', 9),
 ('18NwMdjJ12efwzyDAQHPTn8RZe9WujRdUL', 9),
 ('1MJ7LZnE7Am7kMVsBbpccBDeycGjEPL5Fy', 9),
 ('1QJtwY6PGrEr8bp5GuutzzBSRkFW35KCs5', 9),
 ('1CmpZWcYmw5LA7sbovsf9ok9Aava8bSybZ', 9),
 ('1PfJLEvJK36Mwmx6QpqFGJyWx6fu7aa7tf', 9),
 ('16Lx32a197wdvfUmtYbTUbgDqF7qGXViPT', 9),
 ('1FD4wZ1HSmWfGXzs6pVSBJjAgoAmJhcf4Q', 9),
 ('19jujKEA2sLEefZYvuWW1LYSe88SupWt3n', 9),
 ('1GU7YY1hQ6g4odeWJfQtJB485WKppr1HTJ', 9),
 ('1BriZEpSEvhxQaKoU7g9ZRVdEQnqYYj7Rf', 9),
 ('1AQFpMYK5hh1NGpHm8L5HjphJoKGMVteuQ', 9),
 ('13aitJxF5wvUJbJbnnbBCQ6gxvQGSy37hN', 9),
 ('1LXFXJoSu1XP3HbYmVz2KHQjpqNnYgF3j4', 9),
 ('14nuQAnCkPxAtwr6cDgmL2Q5ucZUtZHE11', 9),
 ('1Epf2qDDGnydMKsrFcneAdwfNbAnZu73Z', 9),
 ('16SGkT4LogtXJLQETpQn6RfXDivViNYNRJ', 9),
 ('1kLQTVytn9UxzpUc9p8gSxYMs9QLMTEXq', 9),
 ('13JdBViU31rYrwH543WBBakMJSXigRVjrR', 9),
 ('16aevtCXLSAxdRrxt51eibptCVdTJxAWjD', 9),
 ('16gBiw89enAYjo1W1QaszN9LszN16p7svL', 9),
 ('1N3wg8gFJLMWjYJRNzznrKZSgduJFa9dsH', 9),
 ('1M76fBjjrvaA9dujzeBYrjBYVigsAn8aYA', 9),
 ('1CmEZTyX9zXtuNSbwA35ZFgkdAcy2B6eS1', 9),
 ('1Md7PHAKBmWuoEQj3XSkite6kygMtN35GV', 9),
 ('1FgTHkMDbUwxHRHy8fhcUpHzRkJ954z2tZ', 9),
 ('1JmDsnsLuByQCzVbe3emJG88uCvXMtvLVx', 9),
 ('14ESouhsHiay5XHyc18WYVnWCigR6XDHA4', 9),
 ('1BPTXVWojMyH4ARByJAid55ZD1rzEWM2vv', 9),
 ('1DmRZ4SeP3cDfUYyqCo5e5hY24CcTeqKnw', 9),
 ('1Eiga73UAtbGsjkALzyXEUgkjaq2TZTA4M', 9),
 ('19CZAtSSthCGbeEb4hTJijpbEJLqeiJbAi', 9),
 ('172mGRKwr4P22K7A2oLRc9ZGC8WH6QPWo4', 9),
 ('1QBCbhUwcgq8J1w6LG8qLrwfichmR4zfd7', 9),
 ('1KFJ8HgWbH7JFuANvDa7eUS9Duxbs6W8Qm', 9),
 ('177WmjwTb4aa6z9WEvGL3hhre1UFPxJBnL', 9),
 ('1PTLzfkMv4pzuU3p4PQFE9moHbd3fShNtQ', 9),
 ('1DapU6ia9z6aCutVgvQDAQdeGqv1LKVASd', 9),
 ('1AFkC6H55YLSkaLUMBH5aTJR8XKBKSG1hC', 9),
 ('114u48mXm5kNGHsyzQa8vtWtUFf5K89QyK', 9),
 ('1QAhF1vB77LppqA3nT4sLVoVocnHMnM77F', 9),
 ('17JDEdEXDuku1DzWYgVjyY8ifkvgMNaHQt', 9),
 ('1JDuK8KBioUk1VDVpg6zYAGaaekYvLsyVf', 9),
 ('1BNvw37jCgcxVPdARAsRdQ4bm2QcuU7r6Z', 9),
 ('14AYBAc9B6cqhGsEQpS8yhFaxJyRiCX497', 9),
 ('1DUmj972wasJweNXH3b63s37tZ5brqBKPT', 9),
 ('1LBBiCaYmjKX2ztjuSFgDzgqx3yoQoDqkE', 9),
 ('14KawtbaqHWD1qrLR7A48Yaemz4wMqKk58', 9),
 ('1PieCcD815JZ5hFYqiR1NNct6mcHpys3HM', 9),
 ('18jeev29zRFo9pbeqYTTmw93feoy9AzYxz', 9),
 ('14SgkwRcNc1BH1ue9kiCZDchmuVaipn9KT', 9),
 ('1LUYuBvsJxzBR3bihAHJJZuT1AxaEnDK79', 9),
 ('1B1CHZVnZmJBGhWVRTK2gp8rbV2gmvDPT9', 9),
 ('1HUL39kikttczhRutuLTN7KgBNnacFppE', 9),
 ('17tuw8iLVM928hpWzZeJdsMTsTsVwmfMqH', 9),
 ('1KpVcAqwyQ88pbRpVZHFt7ZwLHgL2o4UUP', 9),
 ('1KaiUn3XbVppoUePYsYBJTiVtFDex4EuJK', 9),
 ('1LXKgu4aanmy2iFSiakkWTjrd3XLPnfivt', 9),
 ('1N8V38fToZiFm5kfbARx6pAe9DtZY3dHvE', 9),
 ('13rNtaAVXLVRm1pWXQdS4HABfqaiNJKgsi', 9),
 ('1ERjmij1y8wQPLusD26HiM1gjFLM7GF7qz', 9),
 ('12GuZpNETrYVG3EUz12jv5AcgJ7uTVijzP', 9),
 ('12ac7TbyKAJjrmC6sEYFTSE1itBTMTbRes', 9),
 ('18UpiDcx4nF1nw3sYuaa4VkkNF1DX3cntq', 9),
 ('18AwEEwcvkQnXueGhFCKafiBEfcxBM3HzK', 9),
 ('16gQvkXsCiks4NJN7VTyvnFckbDy2M5wNo', 9),
 ('1PtS6vbcW7EeQdG758iHUq9VJZMQJAcnRJ', 9),
 ('1MxxifbKaYyd2FkjxYaJpScsBiry9YmLwv', 9),
 ('13Wzh41bAYRRV7ejTasGGEYz3CwLp5MzQ7', 9),
 ('15SnsDCc1HVEtyPnHuY5PcpKDkNpKrPjbB', 9),
 ('14YQGeiFQSNcAMfZcYR6kg7jcCY8sLutTY', 9),
 ('1CrfVuGiimcihGAG7ywwNZ81XTvbXYMXhc', 9),
 ('19rWgL2WAarjhyazJ5atxUHkEu8PJn3TLi', 9),
 ('1N7a6XWAn1MxidCiKSBEXb7snR7hTt73W4', 9),
 ('1CoyQuwyJbbT9Emm7R3B3K7DY5jFAkVNya', 9),
 ('17QQJAacs2SNjUMRMWufGYdXXu4qaVLaHM', 9),
 ('1FNipiJxETDj4mDGndFPc7GPPnzaAkTvPH', 9),
 ('1EeF2vskbjdnXNwoGBdPVMKAMGkrqGtHb3', 9),
 ('1Ne1VWrXBBN6e582gZoSswwrEvG2bWQsNG', 9),
 ('1CujrSCUo2YBB1pQqNTdY67kPtYka7oXTg', 9),
 ('1CQR9EPkkMLx2YjgTUqGxNx9qM8eaW32mC', 9),
 ('1PtsNYnWkCgstsHFp8Da5JRkmHfKSNsDSu', 9),
 ('17Dt1a8JBvuDGFXw7vW7ZZXchgRNdN4ajt', 9),
 ('12kSEZ91x9X5zMwzK43GngNiDTx6R62DWG', 9),
 ('15sQWH4AieGCztJTwGACk2sapNKPugA1QD', 9),
 ('15whCBd1iB5Hk4iNrEWMwaYwFoQMYw98G3', 9),
 ('14EnbWWZwRVE4sgCyb4uiTWA5wsYsc5e53', 9),
 ('1H1GFnQvLn8h6dKahSe9gXp5CzznzPTi7P', 9),
 ('19jZv19dw7QwCDZi43tm6dA53TzNi6vZZL', 9),
 ('1CswAt5N5LvEh5F7tLPF5JAYo7rNTWWF4', 9),
 ('1Cs6BPpgJk9hGpajVacMz1CxsU3mGRTCg8', 9),
 ('1AvhA8VeZiK7xkoY72BVAVnJ1mAGc551xb', 9),
 ('12wqu545QKibJXU1S1aPfx5dJVWmJA2o8A', 9),
 ('1wxQ1WbXY7sNUFfwEou6TaBVpMxitvNg1', 9),
 ('1Q7jUaNyeDQCnh9hFUnGqJoDsMzof1CctR', 9),
 ('1KMh12psanhN1G8ocYi9kYTGnxBh8wd7Us', 9),
 ('17T2MeJj3egiQCwXubd7zZTRW3oYPRpoCe', 9),
 ('1MEiC59zzUTHBTJbgwpyKXPCahPC4fsxYm', 9),
 ('1NUL7gC9ToQRuDroe4Rdanvjpc2rx82vsD', 9),
 ('142FY2rGKjLgKJevPReaD9pV5akj7LJwVz', 9),
 ('18kfanqdw2KYhGjSsmHhQXQgLwxKLBqcNC', 9),
 ('16r8mBpQtH8YLT2MaRYpc92dZKNzmN3JVZ', 9),
 ('18r9upJq9dWJfqzZBSdqWbAYQ1Bh234A1p', 9),
 ('15E3TLzzZugmmgnMzbhLm6s2Hc5zggC54w', 9),
 ('13LwfZGzD8CZaADiMmAHXtemdumrEF4qVv', 9),
 ('1BGPaLs5rxDVMBsFRqS1Gx1RQeDdyh3js6', 9),
 ('1M5D9uWFgphuzcbQGAcAUPCSGr9jDFk6xc', 9),
 ('1JDiYejE7MHLnWxE9xHE7Ws6LNKfqZN8Kx', 9),
 ('1LvzV1EcBX9xUFuEmnnxDuEPdyFKZSw9Ly', 9),
 ('1DSQeND71ejzsDan6KXeXSfoyB8sfmSpzH', 9),
 ('1MD3chWcu6eVhAEzwjH7XTQY5jLTVjSN16', 9),
 ('1MvxN31bFMDo2wNTJoM9t9wDPUeTfbeQyo', 9),
 ('1ECjq6zUpQLCWuktNXqEuNmJmvLTxDriU4', 9),
 ('1HshuAxrTDDmUYVJtNswYreLKEM7xKDNPB', 9),
 ('15Lfb3rapF1S3GN1D4EW2LRy3QKUaqpnZi', 9),
 ('1DYMonqyRbZRTVkMzCnNDasw5zZSRf9bwT', 9),
 ('14cwHGELLNKSkn1j1cDTnfeCtj52Hb4wui', 9),
 ('1D9mVAk1dBey2CRyLRCi3fNchVYEQ8799', 9),
 ('1Bhuq8fDpSre3cTa2NExVmF2JxLi3nAYcB', 9),
 ('17f6QtU4VZfQhsXMFUa3WL4kciMT6whVr4', 9),
 ('113zK2YqA58YbVyVoAzuvBLBrFNEkxZJ99', 9),
 ('182GFn3Yt3ojAeD7o6XtzZVPGSU4BKvgE2', 9),
 ('14nhqhfkX775vtg5g2zGfMnTMprZZ9VwhS', 9),
 ('12RnQMaEWtSG4nsqwbX5hEnt1myo8xCgJB', 9),
 ('1Jp2jTZNJwpore2STbL4fdtENeDJj1Mc88', 9),
 ('17BAUmCd8ensMKs9SLuAyu3bbdjmGhJ7C7', 9),
 ('1B9xuqpMZbdbvpw3wfbBc3FPEBV8H8BJtP', 9),
 ('1NB5Cjw7SuQe6N9sJGb9Yr3RPDy2iQuTn5', 9),
 ('1Ndqd6Kz6WMv4HeVhhQZXyJ8iGdniZTc3k', 9),
 ('19uPMHUdphRvAT51qpWpgafyVoex3hreUx', 9),
 ('136dJiL5CUAg6FFhryky6MqsMhbP8XyRbQ', 9),
 ('146fc9bBA4jLxiXRVLvCR6P1trpDAusuYX', 9),
 ('1F5djDtt9zRxsUUyxChLfooCeYFeXH6GUA', 9),
 ('1Pad2bgDV9r42ZED72RhAQkYNmfcCPLoSd', 9),
 ('1KQhs2tNA6UsakpFvPay6crMqskEaaCYn9', 9),
 ('1KinPLuTNnp15SvJqZChFud8AfzyPcFJSZ', 9),
 ('15WU27iKpEzjjvwVMnRCEgeYMvz793NkjB', 9),
 ('1PDP6ivQv4imL5pyvfqup4FjJbv21TW8v3', 9),
 ('19e7QcfztzdSwYKHqU8ZVgS8o7EwSZtVbi', 9),
 ('1DjQREsWekp6RG58ahtLDFrXzVKUCdMp3R', 9),
 ('13qzKtnL11P45spRfpr4ARcmFFAnAvZdC7', 9),
 ('1AzfSTAACW3xDrwi4QP4gpcMuxfDcepHzh', 9),
 ('1DvC6HHWXVjactsvvtY7rUW3x84Y1TkSj1', 9),
 ('14MjEEQz86t82deaLBXk1aGwiKv5VZYkR2', 9),
 ('12twGn1arMoY982ycFUdtkGJB77ZHMvjKH', 9),
 ('1AvyrooS7V2c57upMaMqitBk6XcvkVSn2', 9),
 ('1KYvQqbQNNeQUSKvUJHTEHxUWrp6ihjw96', 9),
 ('1BF8GCUuwwcruFLDhTZ6cv3H4Z3aZg41Ln', 9),
 ('1DumQ8uPa6yXc6xKoEVYYcpCwtZwtBBjjW', 9),
 ('1JiWtrdGgxEdgAUg2v21W8WD1MgxGpFWer', 9),
 ('16LQXj84Yha6uR99s2B7yqEUJYtQ1388Lf', 9),
 ('16vRx6HWJQphQ79g3CsBRtpVr9BB6VVXyu', 9),
 ('18Ky5Qr8DHXMssg6GSCNforgh4Knht9Tn2', 9),
 ('128HvPcuAhUjK9JdRKXQ2xZ8nqftB8ooDW', 9),
 ('1P4MsWkBJhWwBvm9z58buNtoBdzbTxfJYT', 9),
 ('13QKxTcnuX3hV8xhXEYDyShdDHLsrEinmp', 9),
 ('1CHbPKuhfjXa6b4KteEgbtXLSur7ZjXhgF', 9),
 ('13DtksFagEZbc2M5zFGC6qgJ9fuVVMHfaX', 9),
 ('1PVA8d1hekWSDWFjbbCevQN3bQ6xtyLHPS', 9),
 ('15FznpmKXf7MCSYZsdyMa4uJeNUYvrYzcb', 9),
 ('1AVbVHiw1RcS7xoktDVmAmLkNGYRCQsp6N', 9),
 ('19Z4FwuVXnNGQF7UyZbZxf2tR6oudyqKSK', 9),
 ('1GsQwkTWFyPZjSERsJKQt56WpoYJnZ1SWf', 9),
 ('17UxMvW1REMqQ3dokPEsZv25DzkXgfrodV', 9),
 ('1YgrqN6synvAuhXJSFcZCTyHKrGfKhPyT', 9),
 ('16i3kyYN1MmTdkGQaG8XYUQGvBkANi5N67', 9),
 ('13Gra5hxmgnGa2qw2AyPAAeiHJb5D3xDA8', 9),
 ('1MpW9CUF4Jj55QmV6tn9wPk9BVmENSMQk9', 9),
 ('1DHRWoZiV5jY5G81AKnqxNX4GEWfdqia96', 9),
 ('1MMG6DEj4ZHr98Pymdc4EUM7yXvheN7Et2', 9),
 ('14cwGxKvdvNG91UtZ58pBsNmLyyznZevjv', 9),
 ('1Eirt8XMx2FBy2MmjbrfLGvdW6CxSUAiWe', 9),
 ('1ACUWoAnLCNnFheF1t6phDH7LzuY3gB9xY', 9),
 ('186KrjcUh4w9axpjC8HHgb8tBmky9Njo73', 9),
 ('1GchUxbmhSuygoaCVhnq1q9T8kiDbJhxq1', 9),
 ('1FJ36GRdeRCuKBScQbE2sBweKXeQadJN4q', 9),
 ('1C8ZzmYQbxiV8WKcTxxb33iZ7cX9hApK7o', 9),
 ('173eNDWJ6V58jokNaszgfzKGzkzWXD9EQd', 9),
 ('1EoYZPqdfdCxZy5cAiLZyk3rvXiei4DR4i', 9),
 ('1JAR9oRkwDWEqCCvaPUjX91bbBkhkKBdf2', 9),
 ('1DhKmWwH8w8ZB2GtaRojx1uAw4TBiFUaSz', 9),
 ('14gNfthotdzovXnvuYG2MnWxu8ZbWQZ1a5', 9),
 ('167CzD3GS3n4eqoqXsk8VFREu8PUDxf24U', 9),
 ('1b2niMDEmUbPSvStkzZFwAfX9tfgMRUWk', 9),
 ('14jv46VC1TYG9g9UfW8VBktRuGFxKnife9', 9),
 ('12rBC2PwZahSyJAx1gbVJDnBgZSrEJTkB4', 9),
 ('15pr3hHc4Eripjndr4nd6WTqqYcRpjxMSn', 9),
 ('1nPn4bbrXVPeNTvZhSXA3gkLpvciuEwtE', 9),
 ('1FURGxin3T4562GdQBKPszbGA974yj3HvL', 9),
 ('1BwCgzfhmGLz8qh3J9Li7VcMQzjiYPgBad', 9),
 ('1FguKZyCEYkwoetkrpPmaqMaCaiJRSSGcf', 9),
 ('1KuQ9fKzzZw1Cfa3WFh6zQEnESdN9s3HLb', 9),
 ('12uFR2Nou1txm7oREdX2kFMLYUSEhEpKss', 9),
 ('12mpjkEJgc7XmNJB1df2isheJnHYv7CEBF', 9),
 ('1Ay7t4cfefGHfntpPN9WrxZFkAAhGNCniR', 9),
 ('13BRTE3tJATiSeFGvXHvV2pKEas42iZLpL', 9),
 ('189EKX9RVPdBfAKdHmpC8yxtCCBnj9YvVv', 9),
 ('1ePjVbsFd9ovax84ULpXPznMr9j93Qs7d', 9),
 ('1BVj9NGD9QLy52huDGD5cG5XyZm6A7G8pp', 9),
 ('1AEFdLPS1JrHRSriVNQ6pFBr42Ru3dy1dj', 9),
 ('1AKZXesjiiUeZ8yEgWU84D1DJjX5P2xgta', 9),
 ('1QE6LHkactnzUqT8CVGoxWpYbkYKZivscX', 9),
 ('1GhEdYrrpve2yNR86WLx36WHYjJmKKwQUV', 9),
 ('1LU7AviiSZ7Z826yGAoXYhWpUrqy6qqbN6', 9),
 ('134LEiwUXFhTNJvQTZQskbZ3BTzj7rmZas', 9),
 ('1HnHcE9dq1MmmLqhPpa9a3L9cxrrzGFZ1U', 9),
 ('1D8kco7MXpDDsKrAHUjUfPSRGVSjkkxtBv', 9),
 ('1EQUPX6rAAe9ZSLFAgwrVUmVAmWc5cpymj', 9),
 ('192H9wwbnnAJi6XtBGSeaCbDXHFk9wCNjm', 9),
 ('19g6EyHrQciVHePMDF5jxfMTSpmWg9XTtS', 9),
 ('1J2A5btednFPB1s6htiPsVLujteF4yxDgA', 9),
 ('19x3jEXi1AHSzyw65gyZVSDe4QUhUDA61J', 9),
 ('1GZaAJYw7Aji9HsBYD2zf6BdhFgStJrjpa', 9),
 ('1EbShcenXbNeMycmUfsV1RqD5iF9owH3Yt', 9),
 ('1FDTp7jbv7GLGaFPG6WVjTu3fWojyPFbq5', 9),
 ('136gVguKXKV8U9u1kM1wfb44C8X1yxdJNh', 9),
 ('1KVZ4TGEs5aQELBgpFSUMsECS9ewsQfZQP', 9),
 ('19mvjMXXxXFGo53m1M4zeVws5wnYn4fs6H', 9),
 ('1MFSN3Rrie3qdgsmG85fjLnhs7hyoZ9ech', 9),
 ('19S27Wn6DfabeFdU4eBk7FdGPQuA7BnYTb', 9),
 ('168FKuxP69FqEqZugX1LcMPMF36LH7PfDU', 9),
 ('1BWMuyf3RNncbVfCrTYmXo4zEufSuZzrBy', 9),
 ('19H2SMMnh9PnpvB6qJc2N7zzjEriTmYPSV', 9),
 ('19WnMqMM2Et9FeYTgoxCVDiGvF1MEN22Y9', 9),
 ('167HHPM36tQRKwjzqw3t5nByK4QrexCwf2', 9),
 ('12r3DK3VXo76Jh3ZsGKyqn5CGFkJV9LRuX', 9),
 ('16kyW8xVaRyedVpg1MkzXkZfJzSeXjEKss', 9),
 ('14RfXaLVsSJyiWeXGEZRC6xuvfD6VGQwey', 9),
 ('16AE3FkQrXrgQPMUcsZuKGXf5MgePLzw7h', 9),
 ('1EbbGbV6aFco8ck5oUbzTaxYkaAzpyAtXZ', 9),
 ('1CSdY4ZtkmCTv6o8bRoZSUbduFa9ATeobj', 9),
 ('15W55DZ45nqknv65v7xmd7CSgRYVUsuX6c', 9),
 ('1A1TtVLvDUZNUTphX5Aio5PSaFtpaLMRaK', 9),
 ('1MfBV7ED8cEys6XNakUrM8vhDoZoJqxk1E', 9),
 ('1HxWfWCTRhWNioa75R2yyfZHozH5ga9Zdz', 9),
 ('19xiv9TuqqCHoWhFJW2ynxZSPjcgsPaH5o', 9),
 ('1BuXvzhUsX1NZnVvJpiLTe6gaPsFLaPANn', 9),
 ('1LBEVnZa6vCo1sRQ5Njvs3UAiKQXmzAT5X', 9),
 ('1MYGubZ8g97VSDK8u5eNHjmCr1ZhH12v4x', 9),
 ('17fGom6X77zF1ofoJ3HkR9arUHeCAyrxn3', 9),
 ('1Jfsir7YCdQyXcUMUaeuKcN4p5CeeDhR9m', 9),
 ('1HaL7JRMwAuK8XGfF9szr4RsZmDkzao5wm', 9),
 ('1EHJr8punergvWxyhhgd4Dgevu7NoMnAPp', 9),
 ('1MMf697oMVhqLy8sHLKUmP9fBM9hSUyxPx', 9),
 ('1GRo7DziG9jwtk2vd5FabvmbikRyHEEYsZ', 9),
 ('132QHYZKMCMHePc2JxEuZNBovTvY6Wnn9d', 9),
 ('16cnhHfomho1m3NkvLDK8revJjU9YKNxBV', 9),
 ('1AvZyyE5tp3eR5bc3vAi5Hkwgb8mf3BqYW', 9),
 ('1Fq7rhCW51F8cenTUCNCEmaX8Az8z78N4D', 9),
 ('13QiKYKMTkxhPv1kiFePRpHPnqvhSLqx9q', 9),
 ('15Pb19nj2jwY1SWXTMMh9GouzKSciDjWQf', 9),
 ('1G2HGM8fgCHgbYgy5dRHRwFC9B878HeM7y', 9),
 ('1Biz4N1gy9q9VborQfGGJnSixZF48Md2ZL', 9),
 ('1Kj8rjd1a3Df8ALASzGp5rrUvtCmzm6QHk', 9),
 ('14dp6SWh44dT89qDX625NTJFk9zWgtbpkE', 9),
 ('1N6vAS1UUGQ5zQQ8KGt6NiZyVmT4eUWghh', 9),
 ('1MA2NFdyDiFc6gheDN8GGyha2wPUbvv3V9', 9),
 ('1NERJVTsmF8NweKxyrGxUvV886NyLdva1y', 9),
 ('1FA6SQkirg7e53v7x3uyzqgPZ35QKs8gcp', 9),
 ('1Be9K5QMSwmDLBPMp3VcV5TuR5DiWUp8QT', 9),
 ('1BCPKYv91aH2aNztuHH6Nd3zmWvmCEZ4r3', 9),
 ('156ojzKqUVof2NU13Tu5Tm4usoEFStax9L', 9),
 ('1DVRyRekLEXJgQ61X8LUxe6ajteijzQYj4', 9),
 ('19qjc8hNm8n9zEvafvM1aVXmx93pZQv9n5', 9),
 ('1Cy3sZpWsYttSdgzvcNmMj5pDJZrzUhNEc', 9),
 ('1FHwU9EbtpHr7QBiPMJULHemTDAMboxijq', 9),
 ('1LPh1x3jJ3CDhRCGNSUkmvnzXKeJDMszY2', 9),
 ('17VvcDJvDrJPDkfAPhkcToVUfZRbWD5mUY', 9),
 ('1JssXtbsugn6mDsu4WUPhhQgJc2gx8WF9E', 9),
 ('1Ptt3oP9W8Q1vWg9VPF2btbf8RV1hL8pER', 9),
 ('1CCUJLwKRpVtEkHk68xiHXC1SCLVVB5zpU', 9),
 ('1HFboKJQ58YFhrS4fb7pVreozddZwxo3AY', 9),
 ('1LXUJQLUqeR6sGqbn9hfruwMzWEFPTasCd', 9),
 ('1JgXoxj17a66ttym6Hs866UP7YDZ4TyFM4', 9),
 ('13sE8CqhNDs2cfnNkzopWw7gQjHtg1dQiY', 9),
 ('1GM7Lddmo8ftPwFsCDeXoT9D6dUmCray8L', 9),
 ('1kYqLLxDZNqV5DqA7kVEed632c9bvgnHU', 9),
 ('1Po2oySgxVMWCpYyEsWHdEUGBRtzf7CxXE', 9),
 ('1sHRfbrQwZg26r8FRmiRMAPWLs7iSWvzC', 9),
 ('1DnNxxiSpZyfBq7SR2kfA3zNm65kDY9XvW', 9),
 ('12W9FibT2rVoHiz3zYUkJYCCAArtZFMDDm', 9),
 ('1dxwPd6xL5dhLLWhTCambmjnSHsvZTZLP', 9),
 ('153ZPwQY3t7E6zRzPwvbeV3wjRFK6v8iGi', 9),
 ('1BEKx3Er82UraT2gTC6nm9JcwuiUsaWHQd', 9),
 ('14sAEMV8dMK4WbtUkWjMwgCaX6CVuCRSGU', 9),
 ('1BuTQ7bgC4x4qEgSXERifKKwVz4tfRPJKb', 9),
 ('16WhhfYkEjirKjnvrWuY38zPkA8aZXXHYv', 9),
 ('15hbf3Z615ZUsN596MXxsJ5DbMjhtwTGiL', 9),
 ('12Vt9gv4n5qYLKHQjHhkWx2FWSKL8sgnUE', 9),
 ('13MML4TLb1XC87vAA6gTJVoyGQNoxs4SkQ', 9),
 ('1GvND8TEnYLDH2btNnE7yxxLNxkjD2QqM4', 9),
 ('16AKortjAwD6XTBRUvBDT3XuRMrx8HGBML', 9),
 ('1DJMrwVH3REPcgB1pzHL7cqsrCGREp2wBM', 9),
 ('1CZQjnGDWo9qDDmAJ5fTxEPwb5C3NZmifS', 9),
 ('1NzJ7WCjChvvb75FSanmK4bMsgWVbTcsag', 9),
 ('15yLtbhXu1dmLxiqn2wf6Db7chDamBs5kC', 9),
 ('1E5bzvbnzwnw28byS9jhWZrnNuWV2qXmHx', 9),
 ('1BU5YpmxwoG5tBELsg6CwHjSuaK2YnHwB7', 9),
 ('17HukJTN3Uune86V183usgpwgSCGsCFVnD', 9),
 ('1PB5yrjXZHcawB67UXcHKoopn2AHeoGXwD', 9),
 ('1JL8FT43T388MHfFwqgnqHQojLQkyw7sPU', 9),
 ('1CPegrqomtmNHFwjdLrxCwBWt89WLPkRGy', 9),
 ('14gW4EScBTTfCRzTep4xGMfgX3Z2ZFbR3k', 9),
 ('1BZfR8rkpiNh36egJ35XgchbZBmLStTorx', 9),
 ('1LF3kr6YncCKcdBxhShqiy9noDmEXkinuq', 9),
 ('1MAQ43m5rowKHfMG4C76Lkpsvt9YuyXQu3', 9),
 ('1DopGa3yFrUTfuLtEuf4zzFTgLmz7ZQBj3', 9),
 ('1HeKm9N1rJnrDRhszAoKv1fUuQkefozPjz', 9),
 ('12V8nK7BjsVn2vyz3SXyoEeo8FakzuyXzr', 9),
 ('1D65hze1TDGrRRcviK7q1Namq2k6KarTPA', 9),
 ('1MseVmmzGXsuLptDmRuYhd58oaodcaPKyU', 9),
 ('1D7Q6xoXuniwWpck197JVnxgeBYPXP5v77', 9),
 ('1GKgmgkoWJgZtEg3ahj9VDfrxYW6pRokB6', 9),
 ('1FG4fr3dsZTfEQEQtqGAX973Twj3pNtewd', 9),
 ('1CfKe6oeVRA3nMuwdzhECaFgTubUqE4P1h', 9),
 ('1Noz4m2PtoSJzM3QrnjGXJvMS5AZEZa9wf', 9),
 ('1GCuwP7wvsKBVwCdfY1QEGZwsM7apbQN8Y', 9),
 ('1K6R7GLmyFZjzVdkiqzoQg5R8TUCjtezYS', 9),
 ('1PtbTjP9XoRcD8pdEek2VpXMihjkZ7krew', 9),
 ('158oHUtFocpR8Kn3hXu7jJr8oPNAFrQs1A', 9),
 ('17A2vNwYXjJyig3isX6EGGboZzybk4UaJ', 9),
 ('1NLamTMzTxb2q2zP6bgtxqjNoJf5Wb47UD', 9),
 ('1FNnuR4JfM8fUCByKEuXA3iW98HDdPPf9P', 9),
 ('12FZo8e7vDSMz2HTyNG7vQufJmYYnjNanX', 9),
 ('1BekmiNuf8EMZnvABGtzvgfrdRPVkQV9xX', 9),
 ('131XqUTVWsq5YoiGiBLhr4vh2bgWFHdLrN', 9),
 ('13J3sejkeG5NmgMcgzMf1EPX5Wft2A43uL', 9),
 ('17FgxcC3Ex9NZgVBHk7encAKG43QSCb2mY', 9),
 ('1B1ZpdJb87rNMVBgHEsTrCh92p2p1aeUXy', 9),
 ('1QLZ8wurp3fLPt9nxctvgBw9hcaiUECuCi', 9),
 ('1Bsc2SqUvv3bd1Pr1XFcG1ikxq6iYgWDt1', 9),
 ('18FtaDA34yd4xT3jcUbwe2dzBGDPQ6T4kW', 9),
 ('1Lroh2Q5eh88ZAhLyLV5fLgE9uUxv4WJhP', 9),
 ('1H4hRyJ8rJUESVQNUxRAvRER3EHTD2bRyf', 9),
 ('13Z23zRcm7F3UBePpNADF9nHb729vuHi8t', 9),
 ('1Eu1vouuw5NC6P4wNds1P1Y15w26N2jGdT', 9),
 ('1CxX5pdqFwie5AXvewtE6hodSmD9Y6QMc2', 9),
 ('1GEKZgxcayFvTqRoVofTwyRspn6SYDA4Uo', 9),
 ('141riGLpBZuDsLmrNoCJhuynbMuZwpBgPg', 9),
 ('1CPJHgSm7FqfUBqddqQLqVmYk929JMmm5R', 9),
 ('1ESp1dZVKVvqyPEuK1UtfAF4eppTymTiBm', 9),
 ('14bmxo6erTfaekmGQzUWzVjdJmvjydd1BG', 9),
 ('1Dm8Mbivq3DfZEbpPQfbVBAwz3L815aak6', 9),
 ('19Rp8kZtAUWQubSPRmDzDpBKdvhypQttR7', 9),
 ('15h3JbbswNgoEUyuSdqNZcW1JzYvsHZgaT', 9),
 ('1LxjThdP8zZLwkEYpfWUXdbwkiSzRMZkYt', 9),
 ('1CGtrngJ4NWxEy5py7aJzsC95zMphWoQ9v', 9),
 ('14LSuiYJ6AjSA1vjKEL9JSs14B5epjhdBS', 9),
 ('1EdSo1HNwP9Dym1nTRDN2KhVsMU4Wkcuc1', 9),
 ('1GxfHJuCCMym5tGTmBaov4ArWf7zp3zJZZ', 9),
 ('12dG6VSKwRkiKoHvVtusj53AHEZLn9N3ac', 9),
 ('1EuSuqtpzkbG79txgNzBVEQW4JvzwfAmU3', 9),
 ('16ma71gUUCWFKWJUDGmyrvh1vqiQoXCMG3', 9),
 ('1EP36k2TniUD9w1odz1vCPf9vkhoMG4Cku', 9),
 ('1DRtdcHejMEaKSiYXCoLBF7swX4HJ4pRKq', 9),
 ('1KyuXecBEyHn7cUAQ1QZg2vzDcdHnMWQA2', 9),
 ('168tZCR12CY8FZk6RTmJeyyasuAFh4wZqM', 9),
 ('12E3faZrfiBnjmtemr4NcrRnitSfdmwoGa', 9),
 ('13AxevPJFs4NXLjjawu3MfzZtFcHSdwmg7', 9),
 ('19vh2Ak8izjDmJQ3qCqog69DQP1Nki4Xgt', 9),
 ('1JbZaqk2DPNzK9Wp4d35QbL99j1kvZ31mU', 9),
 ('13D2Liex4GuT5BZT47KmQvppRKCxDfgjo2', 9),
 ('1MwmUn5cmocBGmaPTQpKgFCbxwww7rN4t3', 9),
 ('1A4RmpJYBzyaZSz98HBDhQ3x8S2g7AFN2i', 9),
 ('1BKeZkbN5T8z2V5tUu32w6GqDWAhWSUiB4', 9),
 ('18pVhExpLjZ2Abh467dQBKNcLeUtWYVeNC', 9),
 ('1icET2cYBJrcH6ry7QmBmYeggwG5gCpcm', 9),
 ('1P1fG5hLZmJWYZqZTjcxeaaTaGUuKm4z5B', 9),
 ('1B6wQMPW3SGaTt3GNwEoviWEEbg1PTqCxp', 9),
 ('16PmjAgTYbHpFnuBRDViFG7Zo8o5gw1TZW', 9),
 ('1BLEkNvURZ7EicUd2kDrP6DA3xbpMXVGhf', 9),
 ('1BuuGBzt3sFa2P2EQh6KuoZ1MDKj7rksx6', 9),
 ('1KUZNdPvc2evsYDMCMuoWYFyzb6a1jL4TD', 9),
 ('19K7M2muYsJBCraitxE6V9SPkT81gp36Em', 9),
 ('1KmRNZ7MU5YHTYp9SXGZsjJzhUUcGdAo92', 9),
 ('1EJuUkX6Nf64G43ggLbuxKzRTYFCf1D7be', 9),
 ('1334DcbhyAMQnvK418dFT7c134ghCt2mds', 9),
 ('113yZx2cpFiuNxkZ8Y4KYMzy9QbvJGzV2M', 9),
 ('18AymRGshRzzaQTk6L8xwTzdKFthx6AaFV', 9),
 ('17re4dYn1GSGEww3SeFATpkdbBxG1eSoq3', 9),
 ('14TPcyZC9aiKjU6N5tsEv5ewqPjQUDXsaW', 9),
 ('1C99jn7KWxCxtyFPTqTBwGinxkYpSu1XwY', 9),
 ('12y9LR9uM5g8qtwDgPrBSEvpgiLHvNn9zX', 9),
 ('1DqmCLN92k9y9F9bARyAh6Z36pe611Jn6V', 9),
 ('19e1iQiDsaegvycaN8vEPkAY7ZWjBPYUDC', 9),
 ('1HvW8CWAKDwCdY8PFrEBup25pEftvUBXAR', 9),
 ('1EVxbqBaUbxepwtyx4dFY9K9bTm5mMXpMJ', 9),
 ('1LnYF2Ks6PVvro6qmV2eAE8xVp6izNoz1s', 9),
 ('15bTappuQ3djmXLej4C76tV2DRMKXTQPJJ', 9),
 ('16pD1izvTUbcX3GNxVFLcBvnT1kRGgtEGZ', 9),
 ('1E8WhQwReRCABesX449ANwguoqcFBokQSr', 9),
 ('17EZsaKMTARvAcuG8yu9D6obgeLbaugqdf', 9),
 ('1QAmw6AFDJrjXorfrbxPPKN41iDKXK4nLF', 9),
 ('1bCKKfhnc5NF8Tx9GFXobbkQhMDqC2YiF', 9),
 ('12cWGaonY1DD8VwEutsBXEmoTrcCLqwHyq', 9),
 ('17iMyno1UavXuGcLBx8amDigfAN5ooDQo2', 9),
 ('1MK3VPMcpnfwQdCmsGVFTE43cE7H9FaBnj', 9),
 ('1D9vxBTRp5UgK2jctKmEwBVsfzPXqn42Ez', 9),
 ('18NbGUimKw4BYMSR52EyYFY2HKhFxG8wk3', 9),
 ('1NPGCdFb4tQqHuSXuM4gin6d6sggachUY3', 9),
 ('15dDpt5TwQZpgBEQM1QpwwnighoVTBM7vQ', 9),
 ('1JRtGXrXi3H1gCHX7GrnAoFNF7jK7MGJcE', 9),
 ('1LTyXkzK65G8DMo9yAqwd8G5goohfn3DDZ', 9),
 ('1BmQtcuYDbcThbmqGbBwAFNLwhjWTNEjGg', 9),
 ('1DjKFMqkLRrBC3GqC431T1k5La8QXYGZ2N', 9),
 ('1BTJq2AVifFDKCUn28tW5xYPW75dRmFUD1', 9),
 ('17YbAfZ1XnVmKPRXWzsFoU18wSEjpo9Ero', 9),
 ('1BykHrYFHsjAdx82VHZa7mzxtLbFXpUGwy', 9),
 ('1DD1njWq7N4Z8NgEWDG39bh9SBEcT8JjYk', 9),
 ('1LPjQc44aiZDuK4jsjfJeb5NTRjD9dCFud', 9),

In [54]:
addr_to_component["1PQBBWY435CTSnir4wrfD8HXZ4E92v9Xd6"], \
addr_to_component["1AueTrCc9oK7ovbtfYeVSJe4UQEaxcRMFy"]

(16, 16)

# Подготовим синтетические датасеты графа
- addr <-> user_id
- user_id <-> txId
- tx_id <-> user_id
- user_id <-> user_id

In [55]:
addr_to_user_df = {
    "addrId": [],
    "userId": []
}
for addr, user in addr_to_component.items():
    addr_to_user_df["addrId"].append(addr)
    addr_to_user_df["userId"].append(user)
addr_to_user_df = pd.DataFrame(addr_to_user_df)
addr_to_user_df.to_csv("../dataset/custom/AddrUser.csv", index=False)

In [56]:
tx_with_users = pd.merge(
    left=addr_tx_df,
    right=addr_to_user_df,
    left_on="input_address",
    right_on="addrId",
    how="left"
)
tx_with_users.drop("input_address", axis=1, inplace=True)
tx_with_users.drop("addrId", axis=1, inplace=True)

tx_with_users = tx_with_users.drop_duplicates()
tx_with_users.to_csv("../dataset/custom/UserTx.csv", index=False)

In [57]:
tx_addr_df = pd.read_csv("../dataset/Elliptic++ Dataset/TxAddr_edgelist.csv")
tx_with_users = pd.merge(
    left=tx_addr_df,
    right=addr_to_user_df,
    left_on="output_address",
    right_on="addrId",
    how="left"
)
tx_with_users.drop("output_address", axis=1, inplace=True)
tx_with_users.drop("addrId", axis=1, inplace=True)
tx_with_users

# tx_with_users = tx_with_users.drop_duplicates()
tx_with_users.to_csv("../dataset/custom/TxUser.csv", index=False)

In [64]:
addr_addr_df = pd.read_csv("../dataset/Elliptic++ Dataset/AddrAddr_edgelist.csv")
addr_with_users = pd.merge(
    left=addr_addr_df,
    right=addr_to_user_df,
    left_on="input_address",
    right_on="addrId",
    how="left"
)
addr_with_users.drop("input_address", axis=1, inplace=True)
addr_with_users.drop("addrId", axis=1, inplace=True)
addr_with_users["inputUserId"] = addr_with_users["userId"]
addr_with_users.drop("userId", axis=1, inplace=True)

addr_with_users = pd.merge(
    left=addr_with_users,
    right=addr_to_user_df,
    left_on="output_address",
    right_on="addrId",
    how="left"
)
addr_with_users.drop("output_address", axis=1, inplace=True)
addr_with_users.drop("addrId", axis=1, inplace=True)
addr_with_users["outputUserId"] = addr_with_users["userId"]
addr_with_users.drop("userId", axis=1, inplace=True)

addr_with_users

addr_with_users = addr_with_users.drop_duplicates()
addr_with_users.to_csv("../dataset/custom/UserUser.csv", index=False)

# Проверка классов легальных-нелегальных по пользователям

In [36]:
addr_to_user = pd.read_csv("../dataset/custom/AddrUser.csv")
addr_to_class = pd.read_csv("../dataset/Elliptic++ Dataset/wallets_classes.csv")
addr_to_tx = pd.read_csv("../dataset/Elliptic++ Dataset/AddrTx_edgelist.csv")
tx_to_addr = pd.read_csv("../dataset/Elliptic++ Dataset/TxAddr_edgelist.csv")

addr_to_class.head()

                              address  class
0   111112TykSw72ztDN2WJger4cynzWYC5w      2
1   1111DAYXhoxZx2tsRnzimfozo783x1yC2      3
2    1111VHuXEzHaRCgXbVwojtaP7Co3QABb      2
3  111218KKkh1JJFRHbwM16AwCiVCc4m7he1      3
4   1115LWW3xsD9jT9VRY7viCN9S34RVAAuA      2

In [7]:
users_with_classes = pd.merge(
    left=addr_to_user,
    right=addr_to_class,
    left_on="addrId",
    right_on="address",
    how="left"
)
users_with_classes.drop("address", axis=1, inplace=True)
users_with_classes.drop("addrId", axis=1, inplace=True)

users_with_classes

        userId  class
0            1      3
1            1      3
2            1      3
3            1      3
4            1      3
...        ...    ...
822937  569509      3
822938  569510      3
822939  569511      2
822940  569512      2
822941  569513      2

[822942 rows x 2 columns]

In [27]:
user_id_to_classes_cnt = users_with_classes.groupby("userId")["class"].nunique().reset_index()
user_id_to_classes_cnt[user_id_to_classes_cnt["class"] == 3]

        userId  class
15          16      3
25          26      3
26          27      3
31          32      3
40          41      3
...        ...    ...
48538    48539      3
64427    64428      3
64985    64986      3
106925  106926      3
211396  211397      3

[62 rows x 2 columns]

In [22]:
wallets = addr_to_user[addr_to_user["userId"] == 518392]["addrId"]
wallets

771643    18mYdEtn6SAQP7QDn7iHdtW2mNk9tPvSbQ
771644    17jEGHeYqjrGkseSHuSwWiPKMq6Sc9ZKBg
Name: addrId, dtype: object

In [23]:
addr_to_class[addr_to_class["address"].isin(wallets)]

                                   address  class
178415  17jEGHeYqjrGkseSHuSwWiPKMq6Sc9ZKBg      2
210668  18mYdEtn6SAQP7QDn7iHdtW2mNk9tPvSbQ      3

In [26]:
addr_to_tx[addr_to_tx["input_address"].isin(wallets)]

                             input_address       txId
17309   18mYdEtn6SAQP7QDn7iHdtW2mNk9tPvSbQ  232916687
17310   17jEGHeYqjrGkseSHuSwWiPKMq6Sc9ZKBg  232916687
398107  18mYdEtn6SAQP7QDn7iHdtW2mNk9tPvSbQ    1876630
447109  18mYdEtn6SAQP7QDn7iHdtW2mNk9tPvSbQ  195437282

In [34]:
wallets = addr_to_user[addr_to_user["userId"] == 48539]["addrId"]
addr_to_class[addr_to_class["address"].isin(wallets)]

                                   address  class
51766   13c5bD3yay8QaJGbHrW8WjGYg8ekCCxz5q      1
183017  17sp1vCt7gfFCwJ5UecaCMnn56F1X1JbfW      2
198339  18NtWvNaaZbitYpqsrhAutehZcdghqBcya      2
256688  1AFHGRgnJY7HBeFSno6X6bRkiZU4VLkeR3      3
351795  1DKgBtq3qJZiBFaDwi8xu58mN4e5RB4L9k      2
366043  1DnmZZfyzLKzxLXwG2eLSrhz9uZiA3ALNx      2
442900  1GKDpoVnmzRE4JrsC3hHN6QudPmP9RE7WR      2
444032  1GMY2dzKWBbLTEyHCGJiNxMNDT3MK9zpbF      3
470122  1HDMBc7CUAuuwxySB8MjUFZVy1d9H3zUGg      3
479717  1HXqzCUAhMeYMQifZpJeU4UY44qV32hWAJ      2
513782  1JepUdk95gAUk1dUvejahsFWzWVXBRFSB4      2
527943  1K7g2vZmuBpeyKRc8m2V6fBPzjXVJdSMCb      2
562697  1LFgxURGeNLQ4U6yWx5RMKwax8frbgGzzm      2
661269  1PWxBwrtHtkZV4bhcuFe3FdFBJ55Bav3De      2

In [31]:
addr_to_tx[addr_to_tx["input_address"].isin(wallets)]

                            input_address       txId
64154  17sp1vCt7gfFCwJ5UecaCMnn56F1X1JbfW  224254822
64155  1HXqzCUAhMeYMQifZpJeU4UY44qV32hWAJ  224254822
64156  13c5bD3yay8QaJGbHrW8WjGYg8ekCCxz5q  224254822
64157  1GMY2dzKWBbLTEyHCGJiNxMNDT3MK9zpbF  224254822
64158  1GKDpoVnmzRE4JrsC3hHN6QudPmP9RE7WR  224254822
64159  1LFgxURGeNLQ4U6yWx5RMKwax8frbgGzzm  224254822
64160  1DKgBtq3qJZiBFaDwi8xu58mN4e5RB4L9k  224254822
64161  1HDMBc7CUAuuwxySB8MjUFZVy1d9H3zUGg  224254822
64162  1AFHGRgnJY7HBeFSno6X6bRkiZU4VLkeR3  224254822
64163  1DnmZZfyzLKzxLXwG2eLSrhz9uZiA3ALNx  224254822
64164  1JepUdk95gAUk1dUvejahsFWzWVXBRFSB4  224254822
64165  18NtWvNaaZbitYpqsrhAutehZcdghqBcya  224254822
64166  1PWxBwrtHtkZV4bhcuFe3FdFBJ55Bav3De  224254822
64167  1K7g2vZmuBpeyKRc8m2V6fBPzjXVJdSMCb  224254822

In [35]:
addr_to_tx[addr_to_tx["input_address"].isin(["13c5bD3yay8QaJGbHrW8WjGYg8ekCCxz5q"])]

                            input_address       txId
64156  13c5bD3yay8QaJGbHrW8WjGYg8ekCCxz5q  224254822

In [37]:
tx_to_addr[tx_to_addr["output_address"].isin(["13c5bD3yay8QaJGbHrW8WjGYg8ekCCxz5q"])]

             txId                      output_address
101458  223909678  13c5bD3yay8QaJGbHrW8WjGYg8ekCCxz5q

In [42]:
user_to_min_class = users_with_classes.groupby("userId")["class"].min().reset_index()
user_to_min_class.to_csv("../dataset/custom/UserClasses.csv", index=False)
user_to_min_class["class"].value_counts()

class
3    408435
2    155083
1      5995
Name: count, dtype: int64

In [44]:
addr_to_class["class"].value_counts()

class
3    557588
2    251088
1     14266
Name: count, dtype: int64

# Соберем полную таблицу фичей пользователей

In [51]:
user_to_addr_cnt = pd.read_csv("../dataset/custom/AddrUser.csv") \
    .groupby("userId")["addrId"] \
    .nunique() \
    .reset_index() \
    .rename({"addrId": "addr_cnt"}, axis=1)
user_to_addr_cnt.head()

   userId  addr_cnt
0       1        10
1       2         1
2       3         1
3       4         1
4       5         1

In [50]:
user_to_outcoming_tx_cnt = pd.read_csv("../dataset/custom/UserTx.csv") \
    .groupby("userId")["txId"] \
    .nunique() \
    .reset_index() \
    .rename({"txId": "outcoming_tx_cnt"}, axis=1)
user_to_outcoming_tx_cnt.head()

   userId  outcoming_tx_cnt
0       1                 2
1       2                 1
2       9                 3
3      10                 1
4      13                 1

In [52]:
user_to_incoming_tx_cnt = pd.read_csv("../dataset/custom/TxUser.csv") \
    .groupby("userId")["txId"] \
    .nunique() \
    .reset_index() \
    .rename({"txId": "incoming_tx_cnt"}, axis=1)
user_to_incoming_tx_cnt.head()

   userId  incoming_tx_cnt
0       1               12
1       2                3
2       3                1
3       4                1
4       5                1

In [56]:
user_to_incoming_users_cnt = pd.read_csv("../dataset/custom/UserUser.csv") \
    .groupby("outputUserId")["inputUserId"] \
    .nunique() \
    .reset_index() \
    .rename({"outputUserId": "userId", "inputUserId": "input_users_cnt"}, axis=1)
user_to_incoming_users_cnt.head()

   userId  input_users_cnt
0       1                3
1       2                2
2       3                1
3       4                1
4       5                1

In [57]:
user_to_outcoming_users_cnt = pd.read_csv("../dataset/custom/UserUser.csv") \
    .groupby("inputUserId")["outputUserId"] \
    .nunique() \
    .reset_index() \
    .rename({"inputUserId": "userId", "outputUserId": "output_users_cnt"}, axis=1)
user_to_outcoming_users_cnt.head()

   userId  output_users_cnt
0       1                 3
1       2                 2
2       9                 6
3      10                 2
4      13                 8

In [68]:
def merge_dfs(l, r, field_to_coalesce=None):
    res = pd.merge(
        left=l,
        right=r,
        on="userId",
        how="left",
    )
    if field_to_coalesce:
        res[field_to_coalesce] = res[field_to_coalesce].fillna(0)
    return res

user_data = merge_dfs(user_to_addr_cnt, user_to_outcoming_tx_cnt, field_to_coalesce="outcoming_tx_cnt")
user_data = merge_dfs(user_data, user_to_incoming_tx_cnt, field_to_coalesce="incoming_tx_cnt")
user_data = merge_dfs(user_data, user_to_incoming_users_cnt, field_to_coalesce="input_users_cnt")
user_data = merge_dfs(user_data, user_to_outcoming_users_cnt, field_to_coalesce="output_users_cnt")
user_data = merge_dfs(user_data, pd.read_csv("../dataset/custom/UserClasses.csv"))



user_data.to_csv("../dataset/custom/UserData_Small.csv", index=False)

In [ ]:
wallets_features = pd.read_csv("../dataset/Elliptic++ Dataset/wallets_features.csv")
wallets_features = pd.merge(
    left=wallets_features,
    right=addr_to_user,
    left_on="address",
    right_on="addrId",
    how="left",
)
wallets_features

In [70]:
wallets_features_agg = wallets_features \
    .groupby("userId") \
    .agg({
        "Time step": "nunique",
        "btc_transacted_total": "sum",
        "btc_sent_total": "sum",
        "btc_received_total": "sum",
        "btc_sent_median": "median",
        "btc_received_median": "median",
    }) \
    .reset_index() \
    .rename(columns={
        "Time step": "active_time_steps_cnt",
        "txId": "incoming_tx_cnt",
    })
wallets_features_agg.head()

,userId,active_time_steps_cnt,btc_transacted_total,btc_sent_total,btc_received_total,btc_sent_median,btc_received_median
0,1,2,344.591752,210.131752,134.460000,0.765,1.275000
1,2,2,0.468014,0.143051,0.324963,0.000,0.022739
2,3,1,0.045772,0.000000,0.045772,0.000,0.045772
3,4,1,0.010480,0.000000,0.010480,0.000,0.010480
4,5,1,0.001630,0.000000,0.001630,0.000,0.001630

In [75]:
user_to_outcoming_addr_cnt = pd.read_csv("../dataset/custom/UserTx.csv") \
    .merge(
        pd.read_csv("../dataset/Elliptic++ Dataset/TxAddr_edgelist.csv"),
        how="left",
        left_on="txId",
        right_on="txId",
    ) \
    .groupby("userId")["output_address"] \
    .nunique() \
    .reset_index() \
    .rename({"userId": "userId", "output_address": "interracted_output_address_cnt"}, axis=1)

user_to_incoming_addr_cnt = pd.read_csv("../dataset/custom/TxUser.csv") \
    .merge(
        pd.read_csv("../dataset/Elliptic++ Dataset/AddrTx_edgelist.csv"),
        how="left",
        left_on="txId",
        right_on="txId",
    ) \
    .groupby("userId")["input_address"] \
    .nunique() \
    .reset_index() \
    .rename({"userId": "userId", "input_address": "interracted_input_address_cnt"}, axis=1)


user_to_incoming_addr_cnt

        userId  interracted_input_address_cnt
0            1                             21
1            2                             60
2            3                              1
3            4                              2
4            5                              1
...        ...                            ...
531662  569509                              1
531663  569510                              1
531664  569511                              1
531665  569512                             97
531666  569513                              8

[531667 rows x 2 columns]

In [78]:
user_data_populated = merge_dfs(user_data, wallets_features_agg)
user_data_populated = merge_dfs(user_data_populated, user_to_outcoming_addr_cnt, "interracted_output_address_cnt")
user_data_populated = merge_dfs(user_data_populated, user_to_incoming_addr_cnt, "interracted_input_address_cnt")

user_data_populated.to_csv("../dataset/custom/UserData.csv", index=False)

**Add fees info**

In [ ]:
tx_to_fee = pd.read_csv("../dataset/Elliptic++ Dataset/txs_features.csv")[["txId", "fees"]]

user_to_tx = pd.read_csv("../dataset/custom/UserTx.csv")

tx_to_fee = tx_to_fee.groupby('txId')['fees'].agg(['sum', 'mean', "min"]).reset_index() \
    .rename(columns={"sum": "fees_total", "mean": "fees_mean", "min": "fees_min"})

user_to_fees = user_to_tx \
    .merge(
        tx_to_fee,
        how="left",
        left_on="txId",
        right_on="txId",
    ) \
    .groupby("userId") \
    .agg({
        "fees_total": "sum",
        "fees_mean": "mean",
        "fees_min": "min",
    }) \
    .reset_index()
user_to_fees

        userId  fees_total  fees_mean  fees_min
0            1    0.002039   0.001020  0.000776
1            2    0.000452   0.000452  0.000452
2            9    0.035568   0.011856  0.000204
3           10    0.000777   0.000777  0.000777
4           13    0.003040   0.003040  0.003040
...        ...         ...        ...       ...
146778  569495    0.000100   0.000100  0.000100
146779  569496    0.000100   0.000100  0.000100
146780  569500    0.000136   0.000136  0.000136
146781  569501    0.000816   0.000816  0.000816
146782  569506    0.000182   0.000182  0.000182

[146783 rows x 4 columns]

In [92]:
user_data_populated_with_fees = merge_dfs(user_data_populated, user_to_fees)
user_data_populated_with_fees["fees_total"] = user_data_populated_with_fees["fees_total"].fillna(0)
user_data_populated_with_fees["fees_mean"] = user_data_populated_with_fees["fees_mean"].fillna(0)
user_data_populated_with_fees["fees_min"] = user_data_populated_with_fees["fees_min"].fillna(0)
user_data_populated_with_fees.to_csv("../dataset/custom/UserData.csv", index=False)